//
// Use HTML text content elements to organize blocks or sections of content placed between the opening <body>
// and closing </body> tags. Important for accessibility and SEO, these elements identify the purpose or
// structure of that content.
//

// Public variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)
$fore-color: #444 !default; // Text & foreground color
$margin: 0.5rem !default; // Universal margin for the most elements
$padding: 0.5rem !default; // Universal padding for the most elements
$border-color: #ddd !default; // Border color for the <blockquote> element.
$sidebar-color: #f57c00 !default; // <blockquote> sidebar and quotation color
$border-radius: 0.125rem !default; // Universal border-radius for most elements
$quotation-size: 3rem !default; // Font size for the quotation of <blockquote>
$cite-size: 0.75em !default; // Font size for the [cite] of <blockquote>
$box-shadow: none !default; // Universal box-shadow for most elements

// Private variables

// Blockquote styling

blockquote {
    // Doesn't have a back color by default, can be added manually.
    display: block;
    position: relative;
    font-style: italic;
    color: $fore-color;
    margin: $margin;
    padding: calc(3 * #{$padding});
    border: var(--px) solid $border-color;
    border-left: calc(6 * var(--px)) solid $sidebar-color;
    border-radius: 0 $border-radius $border-radius 0;

    @if $box-shadow != none {
        box-shadow: $box-shadow;
    }

    &:before {
        position: absolute;
        top: calc(0rem - #{$padding});
        left: 0;
        font-family: sans-serif;
        font-size: $quotation-size;
        font-weight: 700;
        content: "\201c";
        color: $sidebar-color;
    }

    &[cite]:after {
        font-style: normal;
        font-size: $cite-size;
        font-weight: 700;
        content: "\a—  "attr(cite);
        white-space: pre;
    }
}
