//
// La boîte à bouillons card specific.
// Author: Olivier Jullien (https://github.com/ojullien)
// version: v1.0.0
//
.equalCard {
  -webkit-box-pack: start;
  -webkit-box-align: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  align-self: auto;
}