//
// La boîte à bouillons theme specific.
// Author: Olivier Jullien (https://github.com/ojullien)
// version: v1.0.0
//

//
// Typography enhancement
//
blockquote, cite, q, figcaption {
  font-family: #{$cursiveFont};
}
cite, q {
  font-size: $cursiveFontSize;
}

// Text alignement

.centeredAlignedText {
  text-align: center;
}

.justifiedAlignedText {
  text-align: justify;
}

.leftAlignedText {
  text-align: left;
}

.rightAlignedText {
    text-align: right;
}

// Figure and image

.circularPicto {
  border-radius: 500rem;
  width: 90px;
  height: auto;
}

figure.fullWidth {
  margin-left: 0px;
  margin-right: 0px;
}

figure img {
  width: 100%;
}

.floatedImage {
  float: left;
  margin-right: 1em;
  margin-bottom: 0em;
}

.rotatedImage {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.floatedImage:last-child {
  margin-bottom: 0em;
}