//
// La boîte à bouillons pagination specific.
// Author: Olivier Jullien (https://github.com/ojullien)
// version: v1.0.0
//
.pagination {
    padding-top: 2em;
    text-align: center;
    background: inherit;
    border: none;
}

.pagination {

    [class*='page-'] {
        list-style-type: none;
        display: block;
        padding: 1.1em 1.6em;
    }

    [class*='page-number'],
    [class*='page-dots'],
    [class*='page-current'] {
        transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
    }

    .text-first::before {
        content: "\276e\276e\2003Les plus récents";
    }

    .text-last::after {
        content: "Les plus anciens\2003\276f\276f";
    }

    .page-number::before {
        content: "Page\2003";
    }

    .page-number:hover,
    .page-current {
        background-color: $green;
        color: whitesmoke;
        border-right: 1px solid $back-color;
    }
}

@media screen and (min-width: 768px) {

    .pagination {

        [class*='page-'] {
            display: inline-block;
        }

        [class*='page-number'],
        [class*='page-dots'],
        [class*='page-current'], {
            border-right: 1px solid #d7dadb;
        }

        [class*='page-']:last-child {
            border-right: none;
        }

        .text-first::before {
            content: "\276e\276e";
        }

        .text-last::after {
            content: "\276f\276f";
        }

        .page-number::before {
            content: "";
        }
    }
}