/* Card styling */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  position: relative;
  width: 100%;
  background: var(--card-back-color, #f8f8f8);
  color: var(--card-fore-color, #121212);
  border: 1px solid var(--card-border-color, #222222);
  border-radius: 0.125rem;
  margin: 0.5rem;
  overflow: hidden;
}
.card > .section {
  background: var(--card-back-color, #f8f8f8);
  color: var(--card-fore-color, #121212);
  box-sizing: border-box;
  margin: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--card-border-color, #222222);
  padding: 0.5rem;
  width: 100%;
}
.card > .section.media {
  height: 200px;
  padding: 0;
}
@supports (object-fit: cover) or (-o-object-fit: cover) {
  .card > .section.media {
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.card > .section.dark {
  background: var(--card-back-color, #f8f8f8);
}
.card > .section.double-padded {
  padding: calc( * 0.5rem);
}
.card > .section:last-child {
  border-bottom: 0;
}
.card.warning {
  background: var(--card-back-color, #ffd553);
  border-color: var(--card-border-color, #ffca28);
}
.card.error {
  background: var(--card-back-color, #e63333);
  color: var(--card-fore-color, #f8f8f8);
  border-color: var(--card-border-color, #b30000);
}
.card.fluid {
  max-width: 100%;
  width: auto;
}
@media screen and (min-width: 240px) {
  .card.small {
    max-width: 240px;
  }
}
@media screen and (min-width: 320px) {
  .card {
    max-width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .card.large {
    max-width: 480px;
  }
}
.card__link {
  margin-top: auto !important;
}
.card p {
  width: unset;
  max-width: unset;
}
