/* Button and button-like styling */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=submit],
[type=reset],
a.button,
label.button,
.button,
a[role=button],
label[role=button],
[role=button] {
  display: inline-block;
  background: var(--button-back-color, #e0e0e0);
  color: var(--button-fore-color, #121212);
  border: 1px solid var(--button-border-color, transparent);
  border-radius: 0.125rem;
  padding: 0.5rem calc(1.5 * 0.5rem);
  margin: 0.5rem;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover, button:focus,
[type=button]:hover,
[type=button]:focus,
[type=submit]:hover,
[type=submit]:focus,
[type=reset]:hover,
[type=reset]:focus,
a.button:hover,
a.button:focus,
label.button:hover,
label.button:focus,
.button:hover,
.button:focus,
a[role=button]:hover,
a[role=button]:focus,
label[role=button]:hover,
label[role=button]:focus,
[role=button]:hover,
[role=button]:focus {
  background: var(--button-hover-back-color, #c6c6c6);
  border-color: var(--button-border-hover-color, transparent);
}

button.primary,
[type=button].primary,
[type=submit].primary,
[type=reset].primary,
.button.primary,
[role=button].primary {
  color: var(--button-fore-color, #121212);
  background: var(--button-back-color, #e0e0e0);
  border-color: var(--button-border-color, #4e4e4e);
}
button.primary:hover, button.primary:focus,
[type=button].primary:hover,
[type=button].primary:focus,
[type=submit].primary:hover,
[type=submit].primary:focus,
[type=reset].primary:hover,
[type=reset].primary:focus,
.button.primary:hover,
.button.primary:focus,
[role=button].primary:hover,
[role=button].primary:focus {
  background: var(--button-hover-back-color, #c6c6c6);
  border-color: var(--button-border-hover-color, #4e4e4e);
}
button.secondary,
[type=button].secondary,
[type=submit].secondary,
[type=reset].secondary,
.button.secondary,
[role=button].secondary {
  color: var(--button-fore-color, #121212);
  background: var(--button-back-color, #f8f8f8);
  border-color: var(--button-border-color, #4e4e4e);
}
button.secondary:hover, button.secondary:focus,
[type=button].secondary:hover,
[type=button].secondary:focus,
[type=submit].secondary:hover,
[type=submit].secondary:focus,
[type=reset].secondary:hover,
[type=reset].secondary:focus,
.button.secondary:hover,
.button.secondary:focus,
[role=button].secondary:hover,
[role=button].secondary:focus {
  background: var(--button-hover-back-color, #e0e0e0);
  border-color: var(--button-border-hover-color, #4e4e4e);
}
button.tertiary,
[type=button].tertiary,
[type=submit].tertiary,
[type=reset].tertiary,
.button.tertiary,
[role=button].tertiary {
  color: var(--button-fore-color, #121212);
  background: var(--button-back-color, #f8f8f8);
  border-color: var(--button-border-color, transparent);
}
button.tertiary:hover, button.tertiary:focus,
[type=button].tertiary:hover,
[type=button].tertiary:focus,
[type=submit].tertiary:hover,
[type=submit].tertiary:focus,
[type=reset].tertiary:hover,
[type=reset].tertiary:focus,
.button.tertiary:hover,
.button.tertiary:focus,
[role=button].tertiary:hover,
[role=button].tertiary:focus {
  background: var(--button-hover-back-color, #e0e0e0);
  border-color: var(--button-border-hover-color, transparent);
}
button.inverse,
[type=button].inverse,
[type=submit].inverse,
[type=reset].inverse,
.button.inverse,
[role=button].inverse {
  color: var(--button-fore-color, #e0e0e0);
  background: var(--button-back-color, #121212);
}
button.inverse:hover, button.inverse:focus,
[type=button].inverse:hover,
[type=button].inverse:focus,
[type=submit].inverse:hover,
[type=submit].inverse:focus,
[type=reset].inverse:hover,
[type=reset].inverse:focus,
.button.inverse:hover,
.button.inverse:focus,
[role=button].inverse:hover,
[role=button].inverse:focus {
  background: var(--button-hover-back-color, #898989);
}
button.small,
[type=button].small,
[type=submit].small,
[type=reset].small,
.button.small,
[role=button].small {
  padding: calc(0.5 * 0.5rem) calc(0.75 * 0.5rem);
  margin: 0.5rem;
}
button.large,
[type=button].large,
[type=submit].large,
[type=reset].large,
.button.large,
[role=button].large {
  padding: calc(1.5 * 0.5rem) calc(2 * 0.5rem);
  margin: 0.5rem;
}

button:disabled, button[disabled],
.button:disabled,
.button[disabled],
[role=button]:disabled,
[role=button][disabled] {
  cursor: not-allowed;
  opacity: 0.75;
}

/* Button group styling. */
.button-group {
  display: flex;
  border: 1px solid var(--button-group-border-color, #909090);
  border-radius: 0.125rem;
  margin: 0.5rem;
}
.button-group > button,
.button-group [type=button], .button-group > [type=submit], .button-group > [type=reset], .button-group > .button, .button-group > [role=button] {
  margin: 0;
  max-width: 100%;
  flex: 1 1 auto;
  text-align: center;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.button-group > :not(:first-child) {
  border-left: 1px solid var(--button-group-border-color, #909090);
}
@media screen and (max-width: 767px) {
  .button-group {
    flex-direction: column;
  }
  .button-group > :not(:first-child) {
    border: 0;
    border-top: 1px solid var(--button-group-border-color, #909090);
  }
}
