//
// The HTML <code> element displays its contents styled in a fashion intended to indicate that the text is a short
// fragment of computer code.
//
// To represent multiple lines of code, wrap the <code> element within a <pre> element. The <code> element by itself
// only represents a single phrase of code or line of code.
//
// The HTML Keyboard Input element (<kbd>) represents a span of inline text denoting textual user input from a
// keyboard, voice input, or any other text entry device.
//
// The HTML Sample Element (<samp>) is used to enclose inline text which represents sample (or quoted) output from
// a computer program.
//
// The HTML Variable element (<var>) represents the name of a variable in a mathematical expression or a programming
// context. It's typically presented using an italicized version of the current typeface, although that behavior is
// browser-dependent.
//
// You may override the default values of the settings' variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use '../../1-tools/box-shadow' as boxshadow;
@use '../../2-settings/colors' as colors;
@use '../../2-settings/fonts' as fonts;
@use '../../2-settings/borders' as borders;
@use '../../2-settings/box-model' as boxmodel;

/* Inline code semantic styling */

%_normalize {
    margin: 0;
    padding: 0;
    border: 0;
    // Prevent element from affecting the line height in all browsers.
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    // Correct the inheritance and scaling of font size in all browsers. By re-applying font-family and font-size
    font-family: fonts.get-stack('code');
    font-size: fonts.get-size('code');
    font-weight: inherit;
}

pre {
    overflow: auto; // Responsiveness

    padding: calc(#{fonts.get-line-spacing('small')} * #{boxmodel.get('padding')});
    margin: boxmodel.get('margin');

    font-family: fonts.get-stack('code');
    font-size: fonts.get-size('code');
    font-weight: normal;

    background-color: var(--pre-back-color, #{colors.get('back-alt')}); // Allows live color tunning
    color: var(--pre-fore-color, #{colors.get('fore-alt')}); // Allows live color tunning

    @include boxshadow.box-shadow(borders.get('shadow'));

    border: medium solid colors.get('border');
    border-left: thick solid colors.get('sidebar-alt');
    border-radius: 0 #{borders.get('radius')} #{borders.get('radius')} 0;

    word-break: normal;
    overflow-wrap: break-word;

    code {
        font-size: 1em;
    }
}

code {
    @extend %_normalize;

    // This could be a bit counterintuitive and burden the codebase a bit, look into it again?
    padding: calc(#{boxmodel.get('padding')} / 4) calc(#{boxmodel.get('padding')} / 2);

    // No border color by default and fore color is the default for text, can be altered manually.
    @include boxshadow.box-shadow(borders.get('shadow'));
    border-radius: borders.get('radius');

    background-color: var(--code-back-color, #{colors.get('back-alt')}); // Allows live color tunning
    color: var(--code-fore-color, #{colors.get('fore-alt')}); // Allows live color tunning

    a:link,
    a:visited {
        color: var(--code-link-color, #{colors.get('fore-alt')}); // Allows live color tunning
    }
}

kbd {
    @extend %_normalize;

    // This could be a bit counterintuitive and burden the codebase a bit, look into it again?
    padding: calc(#{boxmodel.get('padding')} / 4) calc(#{boxmodel.get('padding')} / 2);

    // No border color by default and fore color is the default for text, can be altered manually.
    @include boxshadow.box-shadow(borders.get('shadow'));
    border-radius: borders.get('radius');

    background-color: var(--kbd-back-color, #{colors.get('back-alt')}); // Allows live color tunning
    color: var(--kbd-fore-color, #{colors.get('fore-alt')}); // Allows live color tunning
}

samp {
    @extend %_normalize;
    font-style: inherit;
}

var {
    @extend %_normalize;
    font-style: italic;
}
