//
// The HTML Definition element (<dfn>) is used to indicate the term being defined within the context of a definition
// phrase or sentence. The <p> element, the <dt>/<dd> pairing, or the <section> element which is the nearest ancestor
// of the <dfn> is considered to be the definition of the term.
//

/* Definition styling */
// <dl> <dt> <dd>

dfn {
    border: 0;
    font-size: 1em;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}
