//
// The HTML <figure> (Figure With Optional Caption) element represents self-contained content, potentially with an
// optional caption, which is specified using the (<figcaption>) element. The figure, its caption, and its contents
// are referenced as a single unit.
//
// You may override the values of the colors, borders and fonts variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use '../../2-settings/colors' as colors;
@use '../../2-settings/fonts' as fonts;
@use '../../2-settings/box-model' as boxmodel;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_text-align: left !default;

/* Figure styling */

figcaption {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: fonts.get-stack("quotation");
    font-size: fonts.get-size("caption");

    text-align: $_text-align;

    background: var(--caption-back-color, #{colors.get("back")}); // Allows live color tunning
    color: var(--caption-fore-color, #{colors.get("fore")}); // Allows live color tunning
}

figure {
    padding: 0;
    border: 0;
    margin: boxmodel.get("margin");
}
