//
// HTML provides a number of elements which can be used together to create forms which the user can fill out and
// submit to the Web site or application.
//
@use 'sass:map';
@use '../../default/stdlib';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model.
//
// Keys:
//   - padding: creates extra space within an element.
//   - margin: create extra space around an element. We reduce the default web browsers margin.
$_box-spacing: (
    "padding": 0.5rem,
    "margin": 0.5rem,
) !default;

// Borders.
//
// Keys:
//   - radius: rounds the corners of an element's outer border edge.
//   - shadow: shadow effects around an element's frame.
//   - shadow-alt: alternative shadow value for more accessibility.
//   - width: thickness of the border.
//   - width-alt: alternative thickness for more accessibility.
$_borders: (
    "radius": 0.125rem,
    "shadow": none,
    "shadow-alt": 0 2px,
    "width": 1px,
    "width-alt": 2px,
) !default;

// Palette.
//
// Keys:
//   - fore: text & foreground color
//   - back: background color
//   - border: border color. See $primary-palette.border-lightest in default/color.scss
$_colors: (
    "back": #f8f8f8,
    "fore": #121212,
    "border": #909090,
) !default;

/* Styling for form */

form {
    width: 100%;
    background: map.get($_colors, "back");
    color: map.get($_colors, "fore");

    margin: map.get($_box-spacing, "margin");
    padding: calc(2 * #{map.get($_box-spacing, "padding")}) map.get($_box-spacing, "padding");

    border: map.get($_borders, "width") solid var(--border-color, map.get($_colors, "border"));
    border-radius: map.get($_borders, "radius");

    @include stdlib.box-shadow(map.get($_borders, "shadow"));
}
