//
// The HTML Inline Frame element (<iframe>) represents a nested browsing context, embedding another HTML
// page into the current one.
//
// You may override the values of the colors, borders and fonts variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_padding-bottom: 26.875rem !default; // bottom padding
$_container-name: 'iframe-container' !default; // Class name for <iframe> container.

/* Embedded content styling */
// As a replaced element, the position, alignment, and scaling of the embedded document within the
// <iframe> element's box, can be adjusted with the object-position and object-fit properties.

.#{$_container-name} {
    position: relative;
    overflow: hidden;
    padding-bottom: $_padding-bottom;
    //    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-style: none;
    }
}

@supports (object-fit: fill) or (-o-object-fit: fill) {
    .fill {
        -o-object-fit: fill;
        object-fit: fill;
    }

    .contain {
        -o-object-fit: contain;
        object-fit: contain;
    }

    .cover {
        -o-object-fit: cover;
        object-fit: cover;
    }

    .none {
        -o-object-fit: none;
        object-fit: none;
    }

    .scale-down {
        -o-object-fit: scale-down;
        object-fit: scale-down;
    }
}
