//
// HTML lists allow web developers to group a set of related items in lists.
//
// You may override the default values of the settings' variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//

@use "../../2-settings/box-model" as boxmodel;

/* List styling */

ol,
ul {
    border: 0;
    margin: boxmodel.get("margin");
    padding: 0;
    padding-left: calc(2 * #{boxmodel.get("margin")});

    ul,
    ol {
        margin-bottom: 0;
        margin-top: 0;
    }
}

li,
dt,
dd {
    border: 0;
    margin: boxmodel.get("margin") 0;
    padding: 0;
}

dl {
    border: 0;
    margin: boxmodel.get("margin") 0 boxmodel.get("margin");
    padding: 0;
    padding-left: calc(2 * #{boxmodel.get("margin")});
}

dd {
    padding-left: calc(2 * #{boxmodel.get("margin")});
}

dt::after {
    content: ": ";
}
