//
// Various multimedia resources such as images, audio, and video.
//

/* Multimedia resources styling */
// <map> <area> <audio> <track>

%_normalize {
    margin: 0;
    padding: 0;
    border: 0;
}

%_responsive {
    max-width: 100%;
    height: auto;
}

// Make images responsive by default.
picture {
    @extend %_responsive;
}

img {
    @extend %_normalize;
    @extend %_responsive;
    border-style: none;
}

audio {
    @extend %_normalize;
}

canvas {
    @extend %_normalize;
}

object {
    @extend %_normalize;
}

video {
    @extend %_normalize;
}

.img-rounded {
    border-radius: 50%;
    width: 90px;
    height: auto;
}

.img-rotate {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.img-float {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
}

.img-float:last-child {
    margin-bottom: 0;
}

@supports (object-fit: fill) or (-o-object-fit: fill) {
    .fill {
        -o-object-fit: fill;
        object-fit: fill;
    }

    .contain {
        -o-object-fit: contain;
        object-fit: contain;
    }

    .cover {
        -o-object-fit: cover;
        object-fit: cover;
    }

    .none {
        -o-object-fit: none;
        object-fit: none;
    }

    .scale-down {
        -o-object-fit: scale-down;
        object-fit: scale-down;
    }
}
