//
// Use HTML text content elements to organize blocks or sections of content placed between the opening <body>
// and closing </body> tags. Important for accessibility and SEO, these elements identify the purpose or
// structure of that content.
//
// You may override the values of the colors, borders and fonts variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use '../../2-settings/colors' as colors;
@use '../../2-settings/fonts' as fonts;
@use '../../2-settings/box-model' as boxmodel;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_paragraph_width: 70ch !default;

/* paragraph-level elements styling */

hr {
    // Fixes and defaults for styling
    box-sizing: content-box;
    border: 0;
    padding: 0;
    // Actual styling using variables
    line-height: fonts.get-line-spacing("hr");
    margin: boxmodel.get("margin");
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        colors.get("border-lightest") 20%,
        colors.get("border-lightest") 80%,
        transparent
    );
}

p {
    width: $_paragraph_width;
    max-width: 100%;
    line-height: fonts.get-line-spacing("p");
    text-align: fonts.get-hyphenation("text-align");

    -ms-hyphens: fonts.get-hyphenation("hyphens");
    -webkit-hyphens: fonts.get-hyphenation("hyphens");
    -moz-hyphens: fonts.get-hyphenation("hyphens");
    hyphens: fonts.get-hyphenation("hyphens");

    padding: 0;
    margin: boxmodel.get("margin");

    @supports (text-rendering: optimizeLegibility) {
        text-rendering: optimizeLegibility;
    }
}
