//
// Use HTML text content elements to organize blocks or sections of content placed between the opening <body>
// and closing </body> tags. Important for accessibility and SEO, these elements identify the purpose or
// structure of that content.
//
@use 'sass:map';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model.
//
// Keys:
//   - margin: create extra space around an element. We reduce the default web browsers margin.
//   - margin-center: center the element.
$_box-spacing: (
    "margin": 0.5rem,
    "margin-center": 0.5rem auto,
) !default;

// Line height
//
// Keys:
//   - p : line height for main paragraph content
//   - hr : line height for thematic break
$_line-spacing: (
    "p": calc(1ex / 0.29),
    "hr": 1.25,
) !default;

// Hyphenation
//
// Hyphenation support for languages is not always optimal in the various browsers;
// Avoid justified text in the absence of hyphenation: "text-align": left; "hyphens": none
$_hyphenation: (
    "text-align": justify,
    "hyphens": auto,
) !default;

$_hr-color: #909090 !default; // Border color. See $primary-palette.border-lightest in default/color.scss

// Private variables

$_paragraph_width: 70ch;

/* paragraph-level elements styling */

hr {
    // Fixes and defaults for styling
    box-sizing: content-box;
    border: 0;
    padding: 0;
    // Actual styling using variables
    line-height: map.get($_line-spacing, "hr");
    margin: map.get($_box-spacing, "margin");
    height: 1px;
    background: linear-gradient(to right, transparent, $_hr-color 20%, $_hr-color 80%, transparent);
}

p {
    width: $_paragraph_width;
    max-width: 100%;
    line-height: map.get($_line-spacing, "p");
    text-align: map.get($_hyphenation, "text-align");

    -ms-hyphens: map.get($_hyphenation, "hyphens");
    -webkit-hyphens: map.get($_hyphenation, "hyphens");
    -moz-hyphens: map.get($_hyphenation, "hyphens");
    hyphens: map.get($_hyphenation, "hyphens");

    padding: 0;
    margin: map.get($_box-spacing, "margin");

    @supports (text-rendering: optimizeLegibility) {
        text-rendering: optimizeLegibility;
    }
}
