//
// The HTML <blockquote> Element (or HTML Block Quotation Element) indicates that the enclosed text is an extended
// quotation. Usually, this is rendered visually by indentation.
// A URL for the source of the quotation may be given using the cite attribute, while a text representation of
// the source can be given using the <cite> element.
//
// The HTML <q> element indicates that the enclosed text is a short inline quotation. Most modern browsers implement
// this by surrounding the text in quotation marks. This element is intended for short quotations that don't require
// paragraph breaks; for long quotations use the <blockquote> element.
//
// The HTML Citation element (<cite>) is used to describe a reference to a cited creative work, and must include the
// title of that work. The reference may be in an abbreviated form according to context-appropriate conventions
// related to citation metadata.
//
// You may override the default values of the settings' variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use '../../2-settings/colors' as colors;
@use '../../2-settings/fonts' as fonts;
@use '../../2-settings/borders' as borders;
@use '../../2-settings/box-model' as boxmodel;
@use '../../2-settings/responsive' as breakpoints;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_padding-left: 2 * boxmodel.get('padding');

/* Blockquote styling */

@mixin normalize {
    background-color: var(--caption-back-color, #{colors.get('back')});
    border: 0;
    color: var(--caption-fore-color, #{colors.get('fore')});
    font-family: fonts.get-stack('quotation');
    font-size: fonts.get-size('cite');
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

blockquote {
    background-color: var(--blockquote-back-color, #{colors.get('back')});
    color: var(--blockquote-fore-color, #{colors.get('fore')});

    font-family: fonts.get-stack('quotation');
    font-size: fonts.get-size('quotation');
    font-style: normal;
    font-weight: 500;

    margin: boxmodel.get('margin');
    padding: #{boxmodel.get('padding')} #{boxmodel.get('padding')} #{boxmodel.get('padding')} #{$_padding-left};
    position: relative;

    &::before {
        color: var(--blockquote-sidebar-color, colors.get('sidebar-quote'));
        content: '\201c';

        font-family: sans-serif;
        font-size: 2 * fonts.get-size('quotation');
        font-style: italic;
        font-weight: 700;

        left: -5px;
        position: absolute;
        top: -(boxmodel.get('padding'));
    }

    @media screen and (min-width: #{breakpoints.get('medium')}) {
        border: 0 solid var(--blockquote-sidebar-color, colors.get('sidebar-quote'));
        border-left-width: borders.get('thick');
        padding-left: 6 * boxmodel.get('padding');

        &::before {
            font-size: fonts.get-size('quotation-before');
            left: 10px;
            position: absolute;
        }
    }

    &[cite]::after {
        content: '\a—  'attr(cite);
        font-size: fonts.get-size('cite');
        font-style: italic;
        font-weight: normal;
        white-space: pre;
    }

    cite {
        font-style: italic;
        font-weight: normal;
        white-space: pre;
        display: block;
    }

    p {
        margin: boxmodel.get('margin') 0;
    }

    .legible & p {
        margin: boxmodel.get('margin') 0;
    }
}

// Fix for elements inside blockquote not displaying properly.

q {
    @include normalize;

    font-style: inherit;
}

cite {
    @include normalize;
}
