//
// Debug color values.
//
@use "../../../src/oseille/2-settings/colors" as colors;

@mixin color-dump($declarations) {
    @each $property, $value in $declarations {
        .color--#{$property} {
            background-color: #{$value};
            color: colors.get-text-color($value);
        }
        .color--#{$property}::before {
            content: "#{$property}:#{$value}";
        }
        @debug "#{$property}: #{$value}";
    }
}

@include color-dump(colors.$primary);
@include color-dump(colors.$primary-palette);
@include color-dump(colors.$secondary);
@include color-dump(colors.$elements);

@debug 'colors.get("orange")=>' colors.get("orange");
@debug 'colors.get("color-notfound")=>' colors.get("color-notfound");
@debug "-----------------------------------------------------------------------";
