/* Figure styling */
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-align: left;
  background: var(--caption-back-color, #f8f8f8);
  color: var(--caption-fore-color, #151515);
}

figure {
  padding: 0;
  border: 0;
  margin: 0.5rem;
}
