//
// Various multimedia resources such as images, audio, and video.
//

/* Multimedia resources styling */
// <map> <area> <audio> <track>

%_normalize {
    margin: 0;
    padding: 0;
    border: 0;
}

%_responsive {
    max-width: 100%;
    height: auto;
}

// Make images responsive by default.
picture {
    @extend %_responsive;
}

img {
    @extend %_normalize;
    @extend %_responsive;
    border-style: none;
}
