//
// Content sectioning elements allow you to organize the document content into logical pieces.
// Use the sectioning elements to create a broad outline for your page content, including header and footer navigation,
// and heading elements to identify sections of content.
//
@use 'sass:map';

// Public variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

$padding: 0.5rem !default; // Universal padding for the most elements
$font-size: 0.875rem !default; // Font size for text in footer element.
$colors: (
    // Background color for footer nav element.
        "back": #f8f8f8,
    // Text color for the footer element.t
        "fore": #444,
    // Color for link in the footer element.
        "link": #0277bd,
    // Border color for the footer element.
        "border": #ddd
) !default;

// Private variables

$_only-top-border: true !default; // Apply styling only to the top border of footer? (boolean)
$_sticky-name: "sticky" !default; // Class name for sticky headers and footers.

/* Footer styling */

footer {
    background: map.get($colors, "back"); // Always apply background color to avoid shine through
    color: map.get($colors, "fore");

    @if $_only-top-border {
        border-top: var(--px) solid map.get($colors, "border");
    } @else {
        border: var(--px) solid map.get($colors, "border");
    }

    padding: calc(2 * #{$padding}) $padding;
    font-size: $font-size;

    a,
    a:visited {
        color: map.get($colors, "link");
    }

    .#{$_sticky-name} {
        position: -webkit-sticky; // One of the rare instances where prefixes are necessary.
        position: sticky;
        z-index: 1101; // Deals with certain problems when combined with cards and tables.
        bottom: 0;
    }
}
