//
// Content sectioning elements allow you to organize the document content into logical pieces.
// Use the sectioning elements to create a broad outline for your page content, including header and footer navigation,
// and heading elements to identify sections of content.
//

// Public variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

$back-color: #f8f8f8 !default; // Background color for footer nav element.
$fore-color: #444 !default; // Text color for the footer element.
$link-color: #0277bd !default; // Color for link in the footer element.
$border-color: #ddd !default; // Border color for the footer element.
$padding: 0.5rem !default; // Universal padding for the most elements
$font-size: 0.875rem !default; // Font size for text in footer element.

// Private variables

$_only-top-border: true !default; // Apply styling only to the top border of footer? (boolean)
$_sticky-name: 'sticky' !default; // Class name for sticky headers and footers.

// Footer styling

footer {
    background: $back-color; // Always apply background color to avoid shine through
    color: $fore-color;

    @if $_only-top-border {
        border-top: var(--px) solid $border-color;
    } @else {
        border: var(--px) solid $border-color;
    }

    padding: calc(2 * #{$padding}) $padding;
    font-size: $font-size;

    a, a:visited {
        color: $link-color;
    }

    .#{$_sticky-name} {
        position: -webkit-sticky; // One of the rare instances where prefixes are necessary.
        position: sticky;
        z-index: 1101; // Deals with certain problems when combined with cards and tables.
        bottom: 0;
    }
}
