//
// Content sectioning elements allow you to organize the document content into logical pieces.
// Use the sectioning elements to create a broad outline for your page content, including header and footer navigation,
// and heading elements to identify sections of content.
//
@use '../stdlib';

// Public variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

$back-color: #f8f8f8 !default; // Background color for the nav element.
$fore-color: #444 !default; // Text color for the nav element.
$border-color: #ddd !default; // Border color for the nav element.
$border-radius: 0.125rem !default; // Universal border-radius for most elements
$margin: 0.5rem !default; // Universal margin for the most elements
$padding: 0.5rem !default; // Universal padding for the most elements
$box-shadow: none !default; // Universal box-shadow for most elements
$link-color: #0277bd !default; // Color for link in the nav element.
$hover-back-color: #f0f0f0 !default; // Background color for the nav element (hover).
$sublink-depth: 2 !default; // Amount of subcategory classes to add.

// Private variables

$_sublink-prefix: 'sublink' !default; // Prefix for the subcategory tabs in nav.

// Navigation sidebar styling.
nav {

    background: $back-color;
    color: $fore-color;
    border: var(--px) solid $border-color;
    border-radius: $border-radius;
    margin: $margin;
    @include stdlib.box-shadow($box-shadow);

    * {
        padding: $padding calc(1.5 * #{$padding});
    }

    a, a:visited {

        display: block;
        color: $link-color; // Apply regardless to de-stylize visited links.
        border-radius: $border-radius;
        transition: background 0.3s;

        &:hover, &:focus {
            text-decoration: none;
            background: $hover-back-color;
        }

    }

    // Subcategories in navigation.
    @for $i from 1 through $sublink-depth {
        .#{$_sublink-prefix}-#{$i} {
            position: relative;
            margin-left: calc(#{$i * 2} * #{$padding});
            &:before {
                position: absolute;
                left: calc(#{$padding} - #{1 + ($i - 1) * 2} * #{$padding});
                top: calc( 0 - var(--px) );
                content: "";
                height: 100%;
                border: var(--px) solid $border-color;
                border-left: 0;
            }
        }
    }
}
