/*
  Browsers resets and base typography.
*/

$border-color: #aaa !default; // Border color
$main-padding: 0.5rem !default; // Universal padding for the most elements
$code-font-family: "Menlo, Consolas, monospace" !default; // Font stack for code elements

/* Core module CSS variable definitions */

// Correct display for Edge & Firefox.
details {
    display: block;
}

// Correct display in all browsers.
summary {
    display: list-item;
}

// Abbreviations

//a,
//abbr,
address,
article,
aside,
audio,
//b,
blockquote,
//body,
canvas,
caption,
cite,
code,
//dd,
//del,
details,
//dfn,
div,
//dl,
//dt,
//em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
//hr,
html,
//i,
iframe,
img,
//ins,
kbd,
label,
legend,
//li,
//mark,
menu,
nav,
object,
//ol,
//p,
pre,
q,
samp,
section,
//small,
//span,
//strong,
//sub,
summary,
//sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
//ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
}
