//
// Use the HTML inline text semantic to define the meaning, structure, or style of a word, line, or
// any arbitrary piece of text.
//
@use 'sass:map';
@use '../../common/stdlib';

// Variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

$_bold-font-weight: 700 !default; // Font weight for <b> and <strong>
$_small-font-size: 0.75em !default; // Font size for <small>, <sub>, <sup>

$_sup-top: -0.5em !default; // <sup> top
$_sub-bottom: -0.25em !default; // <sub> bottom

$_colors: (
    // Color for <a>:link
        "link": #0277bd,
    // Color for <a>:visited
        "visited": #01579b
) !default;

/* Inline text semantic styling */

// Fix for elements inside headings not displaying properly.
%_normalize-font-family {
    font-family: inherit;
}

// Fix for elements inside headings not displaying properly.
%_normalize-small-font-size {
    font-size: var(--smaller, #{$_small-font-size});
}

%_normalize-font-size {
    font-size: 1em;
}

// Correct the inheritance and scaling of font size in all browsers.
%_normalize {
    @extend %_normalize-font-family;
    @extend %_normalize-font-size;
}

%_normalize_small {
    @extend %_normalize-font-family;
    @extend %_normalize-small-font-size;
}

a {
    @extend %_normalize;

    text-decoration: none;

    &:link {
        color: map.get($_colors, "link");
    }

    &:visited {
        color: map.get($_colors, "visited");
    }

    &:not(.button):hover,
    &:not(.button):focus {
        box-shadow: 0 2px;
    }
}

abbr[title] {
    border-bottom: none; // Remove bottom border in Firefox 39-.
    text-decoration: underline dotted; // Opinionated style-fix for all browsers.
}

b,
strong {
    font-weight: $_bold-font-weight;
    @extend %_normalize-font-size;
}

data {
    @extend %_normalize-font-size;
    &:hover:after {
        content: " (ID " attr(value) ")";
        font-size: 0.7em;
    }
}

// Fix for elements inside headings not displaying properly.
dfn,
del,
em,
i,
ins,
span,
u {
    @extend %_normalize-font-size;
}

s {
    @extend %_normalize-font-size;

    // The presence of the s element is not announced by most screen reading technology
    // in its default configuration. It can be made to be announced by using the CSS
    // content property, along with the ::before and ::after pseudo-elements.
    &:before,
    &:after {
        clip-path: inset(100%);
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    &:before {
        content: " [start of stricken text] ";
    }

    &:after {
        content: " [end of stricken text] ";
    }
}

small {
    @extend %_normalize_small;
}

sub {
    @extend %_normalize_small;
    @extend %normalize-line-height;
    bottom: $_sub-bottom;
}

sup {
    @extend %_normalize_small;
    @extend %normalize-line-height;
    top: $_sup-top;
}
