/* Heading styling */
h6, h5, h4, h3, h2, h1 {
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: calc(1.2 * 0.5rem) 0.5rem;
  background: var(--heading-back-color, inherit);
  color: var(--heading-fore-color, inherit);
  text-rendering: optimizeLegibility;
}
h6 small, h5 small, h4 small, h3 small, h2 small, h1 small {
  display: block;
  line-height: 1.5;
  background: var(--subheading-back-color, inherit);
  color: var(--subheading-fore-color, inherit);
}

h1 {
  font-size: calc(1rem * 1.19 * 1.19 * 1.19 * 1.19);
}

h2 {
  font-size: calc(1rem * 1.19 * 1.19 * 1.19);
}

h3 {
  font-size: calc(1rem * 1.19 * 1.19);
}

h4 {
  font-size: calc(1rem * 1.19);
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: calc(1rem / 1.19);
}
