//
@use 'sass:map';
@use 'sass:color';
@use '../../oseille/common/variables' as v;
//
$colors: (
    // Text & foreground color
        "back": #222740,
    // Background color
        "fore": #dad5bc
);
//
@use '../../oseille/element/root/root' with (
    $_colors: $colors,
);
//
@use '../../oseille/module/grid';
//
@use '../../oseille/element/inline_text_semantic/text' with (
    $_colors: (
    // Color for <a>:link
        "link": #f7e7be,
    // Color for <a>:visited
        "visited": #aa9a71
)
);
//
@use '../../oseille/element/form/buttons' with (
    $_colors: (
        // Text color for buttons.
        "fore": #151515,
    // Background color for buttons.
        "back": #e2e2e2,
    // Background color for buttons (hover).
        "hover-back": #dcdcdc,
    // Border color for button groups.
        "group-border": rgba(124, 124, 124, 0.54)
    )
);
//
@use '../../oseille/element/content_sectioning/header' with (
    $_colors: (
        // Text & foreground color
            "back": #222740,
        // Background color
            "fore": #dad5bc,
        // Background color for the header element (hover).
            "hover-back": color.adjust(#222740, $red: -8, $blue: -8, $green: -8),
        // Border color for the header element.
            "border": #ddd
    )
);
