//
@use 'sass:map';
@use '../../oseille/common/default' as v;
//
$colors: (
    // Text & foreground color
        "back": #222740,
    // Background color
        "fore": #dad5bc
);
//
@use '../../oseille/element/root/root' with (
    $_colors: $colors,
);
//
@use '../../oseille/element/text_content/paragraph';
//
@use '../../oseille/element/inline_text_semantic/text' with (
    $_colors: (
    // Color for <a>:link
        "link": #f7e7be,
    // Color for <a>:visited
        "visited": #aa9a71
)
);
//
@use '../../oseille/element/inline_text_semantic/code' with (
    $_colors: (
        // Text color for <mark>
            "fore": map.get($colors,"back"), // Invert
        // Background colors for <mark>
            "back": map.get($colors,"fore"), // Invert
        // <pre> border color
            "border": #ddd,
        // <pre> sidebar color
            "sidebar": #1565c0
    )
);
//
@use '../../oseille/element/text_content/blockquote' with (
    $_colors: (
        // Text color for <mark>
            "fore": map.get($colors,"fore"),
        // Background colors for <mark>
            "back": map.get($colors,"back"),
        // <blockquote> sidebar and quotation color
            "sidebar": #f57c00,
        // Border color for the <blockquote> element.
            "border": #ddd
    ),
    $_font-sizes: (
        // Font size for the [cite] of <blockquote>
            "cite": 1.25rem,
        // Font size for the quotation of <blockquote>
            "quotation": 3rem
    )    
);
