.docs-wrapper {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    max-width: 95%;
    overflow: hidden;
}

.docs-main {
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    padding: 0.5rem;
    width: 100%;
}

.docs-sidebar {
    column-count: 1;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5rem;
    width: 100%;
}

.docs-sidebar ul {
    list-style-type: none;
}

@media (min-width: 540px) {
    .docs-sidebar {
        column-count: 2;
        column-rule-style: solid;
        column-rule-width: 1px;
    }
}

@media (min-width: 800px) {
    .docs-sidebar {
        column-count: 3;
    }
}

@media (min-width: 940px) {
    .docs-wrapper {
        max-width: 1170px;
    }

    .docs-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;
    }

    .docs-sidebar {
        align-self: start;
        column-count: 1;
    }
}

/* specific */

