//
// Toasts
// Display native-looking notifications on mobile devices.
//
@use 'sass:map';
@use '../default/stdlib';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model
$_box-model: (
    // Padding: creates extra space within an element.
        "padding": 0.5rem,
    // Margins: create extra space around an element.
        "margin": 0.5rem
) !default;

// Borders
$_borders: (
    // border-radius: rounds the corners of an element's outer border edge.
        "radius": 0.125rem,
    // box-shadow: adds shadow effects around an element's frame.
        "shadow": none
) !default;

$_colors: (
    // Background color for tooltip component
        "back": #151515,
    // Text color for tooltip component
        "fore": #f8f8f8
) !default;

$_toast-name: "toast"; // Class name for toast component

/* Toast styling */

.#{$_toast-name} {
    position: fixed;
    bottom: calc(#{map.get($_box-model, "margin")} * 3);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1111;
    color: var(--back-color, map.get($_colors, "fore")); // Invert
    background: var(--fore-color, map.get($_colors, "back")); // Invert
    border-radius: calc(#{map.get($_borders, "radius")} * 16);
    padding: map.get($_box-model, "padding") calc(#{map.get($_box-model, "padding")} * 3);

    @include stdlib.box-shadow(map.get($_borders, "shadow"));
}
