/* Styling for form */
form {
  width: 100%;
  background-color: var(--form-back-color, #f8f8f8);
  color: var(--form-fore-color, #121212);
  margin: 0.5rem;
  padding: calc(2 * 0.5rem) 0.5rem;
  border: 1px solid var(--form-border-color, #909090);
  border-radius: 4px;
}
