/* Table styling */
.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  overflow: auto;
  text-indent: 0;
  border: 2px solid var(--table-border-color, #909090);
}
table.full-wide {
  width: 100%;
}
table.text-align-left {
  text-align: left;
}
table.text-align-center {
  text-align: center;
}

caption {
  margin: calc(2 * 0.5rem) 0;
}

thead,
tbody,
tfoot,
tr {
  margin: 0;
  padding: 0;
  border: 0;
}

th,
td {
  padding: calc(2 * 0.5rem);
  margin: 0;
  border: 1px solid var(--table-border-color, #909090);
}

th {
  background-color: var(--th-back-color, #c6c6c6);
  color: var(--th-fore-color, #121212);
  white-space: nowrap;
}

td {
  background-color: var(--td-back-color, #f8f8f8);
  color: var(--td-fore-color, #121212);
}

table.horizontal th {
  text-align: right;
}

table.striped tr:nth-of-type(2n) > td {
  background-color: var(--tr-back-color, #e0e0e0);
}

table.hoverable tr:hover, table.hoverable tr:hover > td, table.hoverable tr:focus, table.hoverable tr:focus > td {
  background-color: var(--table-back-hover-color, #e0e0e0);
}
