//
// The HTML <nav> element represents a section of a page whose purpose is to provide navigation links, either within
// the current document or to other documents. Common examples of navigation sections are menus, tables of contents,
// and indexes.
//
@use 'sass:map';
@use '../../default/stdlib';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model
$_box-spacing: (
    // Padding: creates extra space within an element.
        "padding": 0.5rem,
    // Margins: create extra space around an element.
        "margin": 0.5rem,
    // We reduce the default web browsers margin
        "margin-center": 0.5rem auto // Center
) !default;

// Borders
$_borders: (
    // radius: rounds the corners of an element's outer border edge.
        "radius": 0.125rem,
    // Default shadow value.
        "shadow": none
) !default;

$_line-spacing: (
    // Line height for most elements.
        "main": 1.5
) !default;

$_sublink-depth: 2 !default; // Amount of subcategory classes to add.

$_colors: (
    // Text & foreground color
        "fore": #121212,
    // Background color
        "back": #f8f8f8,
    // Color for link
        "link": #215cca, // See $secondary-colors.blue in default/color.scss
    // Hover color
        "hover-back": #e0e0e0, // See $primary-palette.back-darker in default/color.scss
        "hover-fore": #121212,
    // Border color
        "border": #909090 // See $primary-palette.border-lightest in default/color.scss
) !default;

// Private variables

$_sublink-prefix: "sublink"; // Prefix for the subcategory tabs in nav.

/* Navigation styling. */
nav {
    background: var(--back-color, map.get($_colors, "back"));
    color: var(--fore-color, map.get($_colors, "fore"));

    border: 1px solid map.get($_colors, "border");
    border-radius: map.get($_borders, "radius");

    margin: map.get($_box-spacing, "margin");

    @include stdlib.box-shadow(map.get($_borders, "shadow"));

    * {
        padding: map.get($_box-spacing, "padding")
            calc(#{map.get($_line-spacing, "main")} * #{map.get($_box-spacing, "padding")});
    }

    a,
    a:visited {
        display: block;
        border-radius: map.get($_borders, "radius");
        transition: background 0.3s;
        text-decoration: none; // We remove it but we provide alternative styling.
        color: var(--link-color, map.get($_colors, "link")); // Apply regardless to de-stylize visited links.

        &:hover,
        &:focus {
            background: map.get($_colors, "hover-back");
            font-weight: bolder;
            @include stdlib.box-shadow(none !important);
        }
    }

    // Subcategories in navigation.
    @for $i from 1 through $_sublink-depth {
        .#{$_sublink-prefix}-#{$i} {
            position: relative;
            margin-left: calc(#{$i * 2} * #{map.get($_box-spacing, "padding")});
            &:before {
                position: absolute;
                left: calc(
                    #{map.get($_box-spacing, "padding")} - #{1 + ($i - 1) * 2} * #{map.get($_box-spacing, "padding")}
                );
                top: calc(0 - 1px);
                content: "";
                height: 100%;
                border: 1px solid map.get($_colors, "border");
                border-left: 0;
            }
        }
    }
}
