@use 'sass:map';
//
// Returns the value in the map list associated with the given key.
// It returns null if any map doesn’t contain the key.
//
// @param {string} $key - The key that you want to search for
// @param {map} $maps - The map list that you want to search in
//
@function get-list($key, $maps...) {
    $value: null;

    @each $map in $maps {
        @if map.has-key($map, $key) {
            $value: map.get($map, $key);
        }
    }

    @return $value;
}

//
// Returns the value in the map associated with the given key.
// It returns null if the map doesn’t contain the key.
//
// @param {string} $key - The key that you want to search for
// @param {map} $map - The map that you want to search in
//
@function get($key, $map) {
    $value: null;

    @if map.has-key($map, $key) {
        $value: map.get($map, $key);
    }

    @return $value;
}
