@charset "UTF-8";
/*
  Flavor name: La boite à bouillons
  Author: Olivier Jullien (https://github.com/ojullien)
  Version: v2.0.0
  mini.css version: v3.0.1
*/
////////////////////////////////////////////////////////////////////////////////////////////////////
// Mandatory core variables
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/bodyandtypography';
@import '../mini/core';
////////////////////////////////////////////////////////////////////////////////////////////////////
// Layout
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/grid';
@import 'variables/card';
@import '../mini/layout';
//
// Custom elements for card elements.
//
$card-small-name:              'small';            // Class name for small cards.
$card-small-width:             240px;              // Width for small cards.
@include make-card-alt-size ($card-small-name, $card-small-width);
$card-large-name:              'large';            // Class name for large cards.
$card-large-width:             480px;              // Width for large cards.
@include make-card-alt-size ($card-large-name, $card-large-width);
$card-fluid-name:              'fluid';            // Class name for fluid cards.
$card-fluid-width:             100%;               // Width for fluid cards.
@include make-card-alt-size ($card-fluid-name, $card-fluid-width);
$card-warning-name:            'warning';          // Class name for card warnging color variant.
$card-warning-back-color:      $lightYellow;       // Background color for card warnging color variant.
$card-warning-fore-color:      #111;               // Text color for card warnging color variant.
$card-warning-border-color:    $yellow             // Border style for card warnging color variant.
@include make-card-alt-color ($card-warning-name, $card-warning-back-color, $card-warning-fore-color, $card-warning-border-color);
$card-error-name:              'error';            // Class name for card error color variant.
$card-error-back-color:        $lightRed;          // Background color for card error color variant.
$card-error-fore-color:        #f8f8f8;            // Text color for card error color variant.
$card-error-border-color:      $red;               // Border style for card error color variant.
@include make-card-alt-color ($card-error-name, $card-error-back-color, $card-error-fore-color, $card-error-border-color);
$card-section-dark-name:        'dark';            // Class name for card dark section variant.
$card-section-dark-back-color:  #e0e0e0;           // Background color for card dark section variant.
$card-section-dark-fore-color:  #111;              // Text color for card dark section variant.
@include make-card-section-alt-color ($card-section-dark-name, $card-section-dark-back-color, $card-section-dark-fore-color);
$card-section-double-padded-name:    'double-padded';   // Class name for card double-padded section variant.
$card-section-double-padded-padding:  calc(1.5 * var(#{$universal-padding-var}));  // Padding for card sectiondouble-padded section variant.
@include make-card-section-alt-style ($card-section-double-padded-name, $card-section-double-padded-padding);
////////////////////////////////////////////////////////////////////////////////////////////////////
// Form and Input
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/formandinput';
@import '../mini/input_control';
//
//  Custom elements for forms and input elements.
//
$button-primary-name:            'primary';   // Class name for primary button color variant.
$button-primary-back-color:      $blue;       // Background color for primary button color variant.
$button-primary-hover-back-color:$lightBlue;  // Background color for primary button color variant (hover).
$button-primary-fore-color:      #f8f8f8;     // Text color for primary button color variant.
@include make-button-alt-color ($button-primary-name, $button-primary-back-color, $button-primary-hover-back-color, $button-primary-fore-color);
$button-secondary-name:            'secondary'; // Class name for secondary button color variant.
$button-secondary-back-color:      $red;        // Background color for secondary button color variant.
$button-secondary-hover-back-color:$lightRed;   // Background color for secondary button color variant (hover).
$button-secondary-fore-color:      #f8f8f8;     // Text color for secondary button color variant.
@include make-button-alt-color ($button-secondary-name, $button-secondary-back-color, $button-secondary-hover-back-color, $button-secondary-fore-color);
$button-tertiary-name:            'tertiary';  // Class name for tertiary button color variant.
$button-tertiary-back-color:      $green;      // Background color for tertiary button color variant.
$button-tertiary-hover-back-color:$lightGreen; // Background color for tertiary button color variant (hover).
$button-tertiary-fore-color:      #f8f8f8;     // Text color for tertiary button color variant.
@include make-button-alt-color ($button-tertiary-name, $button-tertiary-back-color, $button-tertiary-hover-back-color, $button-tertiary-fore-color);
$button-inverse-name:            'inverse';   // Class name for inverse button color variant.
$button-inverse-back-color:      #212121;     // Background color for inverse button color variant.
$button-inverse-hover-back-color:#111;        // Background color for inverse button color variant (hover).
$button-inverse-fore-color:      #f8f8f8;     // Text color for inverse button color variant.
@include make-button-alt-color ($button-inverse-name, $button-inverse-back-color, $button-inverse-hover-back-color, $button-inverse-fore-color);
$button-small-name:    'small';              // Class name, padding and margin for small button size variant.
$button-small-padding: calc(0.5 * var(#{$universal-padding-var})) calc(0.75 * var(#{$universal-padding-var}));
$button-small-margin:  var(#{$universal-margin-var});
@include make-button-alt-size ($button-small-name, $button-small-padding, $button-small-margin);
$button-large-name:    'large';              // Class name, padding and margin for large button size variant.
$button-large-padding: calc(1.5 * var(#{$universal-padding-var})) calc(2 * var(#{$universal-padding-var}));
$button-large-margin:  var(#{$universal-margin-var});
@include make-button-alt-size ($button-large-name, $button-large-padding, $button-large-margin);
////////////////////////////////////////////////////////////////////////////////////////////////////
// Header, Footer, Drawer, nav and sticky
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/navigation';
@import '../mini/navigation';
////////////////////////////////////////////////////////////////////////////////////////////////////
// Responsive tables
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/table';
@import '../mini/table';
////////////////////////////////////////////////////////////////////////////////////////////////////
// Contextual
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/contextual';
@import '../mini/contextual';
//
// Custom elements for contextual background elements, toasts and tooltips.
//
$mark-secondary-name:            'secondary'; // Class name for secondary <mark> color variant.
$mark-secondary-back-color:      $red;     // Background color for secondary <mark> color variant.
@include make-mark-alt-color ($mark-secondary-name, $mark-secondary-back-color);
$mark-tertiary-name:            'tertiary';  // Class name for tertiary <mark> color variant.
$mark-tertiary-back-color:      $green;     // Background color for tertiary <mark> color variant.
@include make-mark-alt-color ($mark-tertiary-name, $mark-tertiary-back-color);
$mark-tag-name:                 'tag';       // Class name, padding and border radius for tag <mark> size variant.
$mark-tag-padding:      calc(var(#{$universal-padding-var})/2) var(#{$universal-padding-var});
$mark-tag-border-radius:        1em;
@include make-mark-alt-size ($mark-tag-name, $mark-tag-padding, $mark-tag-border-radius);
////////////////////////////////////////////////////////////////////////////////////////////////////
// Progress and Spinner
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/progressandspinner';
@import '../mini/progress';
//
//  Custom elements for progress elements and spinners.
//
$progress-primary-name:         'primary';        // Class name for primary <progress> color variant.
$progress-primary-fore-color:   $blue;            // Foreground color for primary <progress> color variant.
@include make-progress-alt-color ($progress-primary-name, $progress-primary-fore-color);
$progress-secondary-name:     'secondary';        // Class name for secondary <progress> color variant.
$progress-secondary-fore-color: $red;             // Foreground color for secondary <progress> color variant.
@include make-progress-alt-color ($progress-secondary-name, $progress-secondary-fore-color);
$progress-tertiary-name:       'tertiary';        // Class name for tertiary <progress> color variant.
$progress-tertiary-fore-color:   $green;          // Foreground color for tertiary <progress> color variant.
@include make-progress-alt-color ($progress-tertiary-name, $progress-tertiary-fore-color);
$spinner-donut-primary-name:         'primary';   // Class name for primary spinner donutcolor variant.
$spinner-donut-primary-fore-color:   $blue;       // Foreground color for primary spinner donut color variant.
@include make-spinner-donut-alt-color ($spinner-donut-primary-name, $spinner-donut-primary-fore-color);
$spinner-donut-secondary-name:     'secondary';   // Class name for secondary spinner donut color variant.
$spinner-donut-secondary-fore-color: $red;     // Foreground color for secondary spinner donut color variant.
@include make-spinner-donut-alt-color ($spinner-donut-secondary-name, $spinner-donut-secondary-fore-color);
$spinner-donut-tertiary-name:       'tertiary';   // Class name for tertiary spinner donut color variant.
$spinner-donut-tertiary-fore-color:   $green;     // Foreground color for tertiary spinner donut color variant.
@include make-spinner-donut-alt-color ($spinner-donut-tertiary-name, $spinner-donut-tertiary-fore-color);
////////////////////////////////////////////////////////////////////////////////////////////////////
// Icons - powered by Feather (https://feathericons.com/).
////////////////////////////////////////////////////////////////////////////////////////////////////
@import '../mini/icon';
////////////////////////////////////////////////////////////////////////////////////////////////////
// Breadcrumb, Close icon and other utilities
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/utilitiesandhelper';
@import '../mini/utility';
////////////////////////////////////////////////////////////////////////////////////////////////////
// La boite à bouillons specific
////////////////////////////////////////////////////////////////////////////////////////////////////
@import '../laboiteabouillons/core';
@import '../laboiteabouillons/grid';
@import '../laboiteabouillons/card';
@import '../laboiteabouillons/footer';
@import '../laboiteabouillons/page';
@import '../laboiteabouillons/pagination';
@import '../laboiteabouillons/sendinblue';
@import '../laboiteabouillons/wordpress';