@charset "UTF-8";
/*
  Flavor name: La boite à bouillons - Maintenance
  Author: Olivier Jullien (https://github.com/ojullien)
  Version: v1.0.0
  mini.css version: v3.0.1
*/
////////////////////////////////////////////////////////////////////////////////////////////////////
// Mandatory core variables
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/bodyandtypography';
@import '../mini/core';
////////////////////////////////////////////////////////////////////////////////////////////////////
// Grid
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/grid';
@import '../mini/layout';
////////////////////////////////////////////////////////////////////////////////////////////////////
// Header, Footer, Drawer, nav and sticky
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/navigation';
@import '../mini/navigation';
////////////////////////////////////////////////////////////////////////////////////////////////////
// Breadcrumb, Close icon and other utilities
////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'variables/progressandspinner';
@import '../mini/progress';
//
//  Custom elements for progress elements and spinners.
//
$progress-primary-name:         'primary';        // Class name for primary <progress> color variant.
$progress-primary-fore-color:   $blue;            // Foreground color for primary <progress> color variant.
@include make-progress-alt-color ($progress-primary-name, $progress-primary-fore-color);
$progress-secondary-name:     'secondary';        // Class name for secondary <progress> color variant.
$progress-secondary-fore-color: $red;             // Foreground color for secondary <progress> color variant.
@include make-progress-alt-color ($progress-secondary-name, $progress-secondary-fore-color);
$progress-tertiary-name:       'tertiary';        // Class name for tertiary <progress> color variant.
$progress-tertiary-fore-color:   $green;          // Foreground color for tertiary <progress> color variant.
@include make-progress-alt-color ($progress-tertiary-name, $progress-tertiary-fore-color);
$spinner-donut-primary-name:         'primary';   // Class name for primary spinner donutcolor variant.
$spinner-donut-primary-fore-color:   $blue;       // Foreground color for primary spinner donut color variant.
@include make-spinner-donut-alt-color ($spinner-donut-primary-name, $spinner-donut-primary-fore-color);
$spinner-donut-secondary-name:     'secondary';   // Class name for secondary spinner donut color variant.
$spinner-donut-secondary-fore-color: $red;     // Foreground color for secondary spinner donut color variant.
@include make-spinner-donut-alt-color ($spinner-donut-secondary-name, $spinner-donut-secondary-fore-color);
$spinner-donut-tertiary-name:       'tertiary';   // Class name for tertiary spinner donut color variant.
$spinner-donut-tertiary-fore-color:   $green;     // Foreground color for tertiary spinner donut color variant.
@include make-spinner-donut-alt-color ($spinner-donut-tertiary-name, $spinner-donut-tertiary-fore-color);
////////////////////////////////////////////////////////////////////////////////////////////////////
// La boite à bouillons specific
////////////////////////////////////////////////////////////////////////////////////////////////////
@import '../laboiteabouillons/core';
@import '../laboiteabouillons/footer';
@import '../laboiteabouillons/page';
