//
// Spoilers & accordions
//
// They are composed of three components - the wrapper, the toggle button and
// the content container.
//
@use 'sass:map';
@use '../default/stdlib';

// Public variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

$border-radius: 0.125rem !default; // Universal border-radius for most elements
$margin: 0.5rem !default; // Universal margin for the most elements
$padding: 0.5rem !default; // Universal padding for the most elements
$box-shadow: none !default; // Universal box-shadow for most elements
$label-height: 1.5rem !default; // Height for the labels in the collapse component
$content-max-height: 400px !default; // Max height for the content panes in the collapse component

// Palette.
//
// Keys:
//   - fore: text & foreground color
//   - back: background color
//   - back-hover: background color on hover
$_colors: (
    "fore": #121212,
    "back": #f8f8f8,
    "back-hover": #e0e0e0,


    // Background color for selected labels in the collapse component
        "selected-label-back-color": #ececec,
    // Border color for collapse component
        "border-color": #ddd,
    // Border color for collapse component's selected labels
        "selected-label-border-color": #0277bd,
    // Background color for collapse component's content panes,
        "content-back-color": #fafafa
) !default;

// Borders.
//
// Keys:
//   - radius: rounds the corners of an element's outer border edge.
//   - shadow: shadow effects around an element's frame.
//   - width: thickness of the border.
$_borders: (
    "radius": 0.125rem,
    "shadow": none,
    "width": 1px,
) !default;

// Private variables
$_collapse-name: "collapse" !default; // Class name for collapse component

/* Spoilers & Accordions styling */

.#{$_collapse-name} {
    width: calc(100% - 2 * #{$margin});
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: $margin;
    border-radius: $border-radius;

    @include stdlib.box-shadow($box-shadow);

    & > [type="radio"],
    & > [type="checkbox"] {
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
    }
    & > label {
        flex-grow: 1;
        display: inline-block;
        height: $label-height;
        cursor: pointer;
        transition: background 0.3s;
        color: map.get($_colors, "fore");
        background: map.get($_colors, "back");
        border: map.get($_borders, "width") solid map.get($_colors, "border-color");
        padding: calc(1.5 * #{$padding});
        &:hover,
        &:focus {
            background: map.get($_colors, "back-hover");
        }
        + div {
            flex-basis: -webkit-auto;
            flex-basis: auto;
            height: 1px;
            width: 1px;
            margin: -1px;
            overflow: hidden;
            position: absolute;
            clip: rect(0 0 0 0);
            -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
            transition: max-height 0.3s;
            max-height: 1px; // for transition
        }
    }
    > :checked + label {
        background: map.get($_colors, "selected-label-back-color");
        border-bottom-color: map.get($_colors, "selected-label-border-color");
        & + div {
            box-sizing: border-box;
            position: relative;
            width: 100%;
            height: auto;
            overflow: auto;
            margin: 0;
            background: map.get($_colors, "content-back-color");
            border: map.get($_borders, "width") solid map.get($_colors, "border-color");
            border-top: 0;
            padding: $padding;
            clip: auto;
            -webkit-clip-path: inset(0%);
            clip-path: inset(0%);
            max-height: $content-max-height;
        }
    }
    & > label:not(:first-of-type) {
        // Keep these down here, as it overrides some other styles.
        border-top: 0;
    }
    & > label:first-of-type {
        border-radius: $border-radius $border-radius 0 0;
    }
    & > label:last-of-type:not(:first-of-type) {
        border-radius: 0 0 $border-radius $border-radius;
    }
    & > label:last-of-type:first-of-type {
        border-radius: $border-radius;
    }
    & > :checked:last-of-type:not(:first-of-type) + label {
        border-radius: 0;
    }
    & > :checked:last-of-type + label + div {
        border-radius: 0 0 $border-radius $border-radius;
    }
}
