//
// Modal dialogs
// Dialog component to display messages to users
// @use card and input
//
// You may override the values of the colors, borders and fonts variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use 'sass:map';
@use '../2-settings/colors' as colors;
@use '../2-settings/borders' as borders;
@use '../2-settings/box-model' as boxmodel;
@use '../2-settings/fonts' as fonts;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Classnames
//
// Keys:
//   - modal: modal dialog component
//   - close: modal dialog close button
$_classnames: (
    'modal': 'modal',
    'close': 'modal-close',
) !default;

/* Styling for modal dialogs */

[type='checkbox'].#{map.get($_classnames, 'modal')} {
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    @supports ((clip-path: inset(100%)) or (-webkit-clip-path: inset(100%))) {
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
    }

    & + div {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        background: var(--modal-back-color, #{colors.get('overlay')});

        & .card {
            margin: 0 auto;
            max-height: 50vh;
            overflow: auto;
            & .#{map.get($_classnames, 'close')} {
                position: absolute;
                top: 0;
                right: 0;
                width: fonts.get-size('close');
                height: fonts.get-size('close');
                border-radius: borders.get('radius');
                padding: boxmodel.get('padding');
                margin: 0;

                @supports (cursor: pointer) {
                    cursor: pointer;
                }

                transition: background 0.3s;

                &:before {
                    display: block;
                    content: '\00D7';
                    color: var(--modal-fore-color, #{colors.get('fore-lighter')});
                    position: relative;
                    font-family: sans-serif;
                    font-size: fonts.get-size('close');
                    line-height: 1;
                    text-align: center;
                }

                &:hover,
                &:focus {
                    background: var(--modal-back-hover-color, #{colors.get('back')});
                }
            }
        }
    }

    &:checked + div {
        display: flex;
        flex: 0 1 auto;
        z-index: 1200;
        & .card {
            & .#{map.get($_classnames, 'close')} {
                z-index: 1211;
            }
        }
    }
}
