//
// Tooltips
// Display explanatory text for different elements.
//
// You may override the default values of the settings' variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use 'sass:map';
@use '../1-tools/box-shadow' as boxshadow;
@use '../2-settings/colors' as colors;
@use '../2-settings/borders' as borders;
@use '../2-settings/box-model' as boxmodel;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_classname: (
    'main': 'tooltip',
    'alternate': 'bottom',
);

/* Tooltip styling */

.#{map.get($_classname, 'main')} {
    position: relative;
    display: inline-block;

    &:before,
    &:after {
        position: absolute;
        opacity: 0;
        clip: rect(0 0 0 0);
        @supports ((clip-path: inset(100%)) or (-webkit-clip-path: inset(100%))) {
            -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
        }
        transition: all 0.3s;
        // Remember to keep this index a lower value than the one used for stickies.
        z-index: 1010; // Deals with certain problems when combined with cards and tables.
        left: 50%;
    }

    &:not(.#{map.get($_classname, 'alternate')}):before,
    &:not(.#{map.get($_classname, 'alternate')}):after {
        // Top (default) tooltip styling
        bottom: 75%;
    }

    &.#{map.get($_classname, 'alternate')}:before,
    &.#{map.get($_classname, 'alternate')}:after {
        // Bottom tooltip styling
        top: 75%;
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            clip: auto;
            @supports ((clip-path: inset(0%)) or (-webkit-clip-path: inset(0%))) {
                -webkit-clip-path: inset(0%);
                clip-path: inset(0%);
            }
        }
    }

    &:before {
        // Little tooltip triangle
        content: '';
        background: transparent;
        border: boxmodel.get('margin') solid transparent;
        // Newer browsers will center the tail properly
        left: calc(50% - #{boxmodel.get('margin')});
    }

    &:not(.#{map.get($_classname, 'alternate')}):before {
        // Top (default) tooltip styling
        border-top-color: var(--tooltip-back-color, colors.get('back-alt'));
    }

    &.#{map.get($_classname, 'alternate')}:before {
        // Bottom tooltip styling
        border-bottom-color: var(--tooltip-back-color, colors.get('back-alt'));
    }

    &:after {
        // Tooltip's text block
        content: attr(aria-label);
        color: var(--tooltip-fore-color, colors.get('fore-alt'));
        background: var(--tooltip-back-color, colors.get('back-alt'));
        border-radius: borders.get('radius');
        padding: boxmodel.get('padding');

        @include boxshadow.box-shadow(borders.get('shadow'));

        white-space: nowrap;
        transform: translateX(-50%);
    }

    &:not(.#{map.get($_classname, 'alternate')}):after {
        // Top (default) tooltip styling
        margin-bottom: calc(2 * #{boxmodel.get('margin')});
    }

    &.#{map.get($_classname, 'alternate')}:after {
        // Bottom tooltip styling
        margin-top: calc(2 * #{boxmodel.get('margin')});
    }
}
