@charset "UTF-8";
/* Accordions styling */
.collapse {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 4px;
  border-right: 1px solid var(--accordion-border-color, #222222);
  border-bottom: 1px solid var(--accordion-border-color, #222222);
  border-left: 1px solid var(--accordion-border-color, #222222);
  overflow: hidden;
}
.collapse input {
  display: none;
}
.collapse input + label {
  display: flex;
  justify-content: normal;
  cursor: pointer;
  padding: calc(1.5 * 0.5rem);
  color: var(--accordion-fore-color, #121212);
  background-color: var(--accordion-back-color, #f8f8f8);
  border-top: 1px solid var(--accordion-border-color, #222222);
}
.collapse input + label::before {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  margin-right: 0.5rem;
}
.collapse input + label:hover, .collapse input + label:focus {
  outline: transparent solid;
  background-color: var(--accordion-back-hover-color, #121212);
  color: var(--accordion-fore-hover-color, #f8f8f8);
  border-color: var(--accordion-border-hover-color, #121212);
}
.collapse input + label + div {
  max-height: 0;
  padding: 0 1em;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.collapse input:checked + label {
  background-color: var(--collapse-back-checked-color, #121212);
  color: var(--collapse-fore-checked-color, #f8f8f8);
}
.collapse input:checked + label::before {
  transform: rotate(90deg);
}
.collapse input:checked + label + div {
  overflow: auto;
  padding: 0.5rem;
  max-height: 100vh;
  opacity: 1;
  visibility: visible;
}

.symbol {
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  padding-left: 3px;
}
