//
// Default main colors.
//
// Accessibility:
//  - The colour of text and background content must have sufficient contrast
//  - Use WCAG Grading tool to find the best shade/tone/tint with your fore / background combinaison
//
@use 'sass:map';
@use '../1-tools/stdlib' as stdlib;
@use '../1-tools/color' as *;

// Variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

//
// Primary colors.
//
// Keys:
//   - blue: link color (#215cca)
//   - red: error color
//   - green: success color
//   - orange: sidebar
//   - black: text & foreground color
//   - white: background color
$primary: (
    'blue': hsla(219deg, 72%, 46%, 1),
    'red': hsla(3deg, 90%, 46%, 1),
    'green': hsla(127deg, 63%, 46%, 1),
    'orange': hsla(12deg, 74%, 46%, 1),
    'yellow': hsla(45deg, 100%, 46%, 1),
    'grey': hsla(0deg, 0%, 46%, 1),
    'black': #121212,
    'white': #f8f8f8,
    'transparent': transparent,
) !default;

//
// Primary colors palette.
//
// Keys:
//   - blue-*: link color
//   - red-*: error color
//   - green-*: success color
//   - orange-*: more color
//   - yellow-*: more color
//   - grey-*: more color
$primary-palette: (
    'blue-darkest': darkest(map.get($primary, 'blue')),
    'blue-darker': darker(map.get($primary, 'blue')),
    'blue-lighter': lighter(map.get($primary, 'blue')),
    'blue-lightest': lightest(map.get($primary, 'blue')),
    'red-darkest': darkest(map.get($primary, 'red')),
    'red-darker': darker(map.get($primary, 'red')),
    'red-lighter': lighter(map.get($primary, 'red')),
    'red-lightest': lightest(map.get($primary, 'red')),
    'green-darkest': darkest(map.get($primary, 'green')),
    'green-darker': darker(map.get($primary, 'green')),
    'green-lighter': lighter(map.get($primary, 'green')),
    'green-lightest': lightest(map.get($primary, 'green')),
    'orange-darkest': darkest(map.get($primary, 'orange')),
    'orange-darker': darker(map.get($primary, 'orange')),
    'orange-lighter': lighter(map.get($primary, 'orange')),
    'orange-lightest': lightest(map.get($primary, 'orange')),
    'yellow-darkest': darkest(map.get($primary, 'yellow')),
    'yellow-darker': darker(map.get($primary, 'yellow')),
    'yellow-lighter': lighter(map.get($primary, 'yellow')),
    'yellow-lightest': lightest(map.get($primary, 'yellow')),
    'grey-darkest': darkest(map.get($primary, 'grey')),
    'grey-darker': darker(map.get($primary, 'grey')),
    'grey-lighter': lighter(map.get($primary, 'grey')),
    'grey-lightest': lightest(map.get($primary, 'grey')),
) !default;

//
// Main colors.
//
// Keys:
//   - fore: text & foreground color
//   - back: background color
//   - border: border color
//   - fore-alt: alternative color for text & foreground.(Inverted)
//   - back-alt: alternative color for background (Inverted)
$secondary: (
    'border': map.get($primary-palette, 'grey-darkest'),
    'back': map.get($primary, 'white'),
    'back-alt': map.get($primary, 'black'),
    'fore': map.get($primary, 'black'),
    'fore-alt': map.get($primary, 'white'),
) !default;

//
// Secondary colors palette.
//
// Keys:
//   - fore-*: text & foreground color
//   - back-*: background color
//   - border-*: border color
$secondary-palette: (
    'back-darker': tone(map.get($secondary, 'back'), 20%),
    'back-lighter': tint(map.get($secondary, 'back'), 20%),
    'back-lightest': tint(map.get($secondary, 'back'), 50%),
    'border-darkest': shade(map.get($secondary, 'border'), 20%),
    'border-darker': tone(map.get($secondary, 'border'), 20%),
    'border-lighter': tint(map.get($secondary, 'border'), 20%),
    'border-lightest': tint(map.get($secondary, 'border'), 49.8%),
) !default;

//
// Colors for elements.
//
// Keys:
//   - link: color for <a>:link
//   - visited: color for <a>:visited.
//   - primary: background color variant.
//   - secondary: background color variant.
//   - tertiary: background color variant.
//   - overlay: modal dialog component
$elements: (
    'back-hover': map.get($secondary-palette, 'back-darker'),
    'fore-hover': map.get($primary, 'black'),
    'link': map.get($primary, 'blue'),
    'primary': map.get($primary, 'blue'),
    'secondary': map.get($primary, 'red'),
    'sidebar-alt': map.get($primary, 'blue'),
    'sidebar': map.get($primary, 'orange'),
    'tertiary': map.get($primary, 'green'),
    'visited': map.get($primary-palette, 'blue-darkest'),
    'overlay': rgba(0, 0, 0, 0.45),
) !default;

// Functions.
//
// Returns the value in the color map associated with the given key.
// It returns null if any map doesn’t contain the key.
//
// @param {string} $key - The color that you want to search for
//
@function get($key) {
    $color: stdlib.get-list($key, $primary, $secondary, $primary-palette, $secondary-palette, $elements);

    @if $color == null {
        @warn #{'Color "' + $key + '" not found!'};
    }

    @return $color;
}
