//
// Default main colors.
//
// Accessibility:
//  - The colour of text and background content must have sufficient contrast
//  - Use WCAG Grading tool to find the best shade/tone/tint with your fore / background combinaison
//
@use 'sass:map';
@use '../1-tools/color' as *;

//
// Main colors.
//
// Keys:
//   - fore: text & foreground color
//   - back: background color
//   - border: border color
$primary-colors: (
    "fore": #121212,
    "back": #f8f8f8,
    "border": #222222,
);

//
// Primary colors palette.
//
// Keys:
//   - fore-*: text & foreground color
//   - back-*: background color
//   - border-*: border color
$primary-palette: (
    "fore-darkest": shade(map.get($primary-colors, "fore"), 20%),
    "fore-darker": tone(map.get($primary-colors, "fore"), 20%),
    "fore-lighter": tint(map.get($primary-colors, "fore"), 20%),
    "fore-lightest": tint(map.get($primary-colors, "fore"), 50%),
    "back-darkest": shade(map.get($primary-colors, "back"), 20%),
    "back-darker": tone(map.get($primary-colors, "back"), 20%),
    "back-lighter": tint(map.get($primary-colors, "back"), 20%),
    "back-lightest": tint(map.get($primary-colors, "back"), 50%),
    "border-darkest": shade(map.get($primary-colors, "border"), 20%),
    "border-darker": tone(map.get($primary-colors, "border"), 20%),
    "border-lighter": tint(map.get($primary-colors, "border"), 20%),
    "border-lightest": tint(map.get($primary-colors, "border"), 49%),
);

//
// Other colors.
//
// Keys:
//   - blue: link color
//   - red: error color
//   - green: success color
//   - orange: sidebar
$secondary-colors: (
    "blue": #215cca,
    "red": #ad0000,
    "green": #2ecc40,
    "orange": #ff851b,
    "yellow": #ffdc00,
);

//
// Secondary colors palette.
//
// Keys:
//   - blue-*: link color
//   - red-*: error color
//   - green-*: success color
//   - orange-*: more color
//   - yellow-*: more color
$secondary-palette: (
    "blue-darkest": #0e1c43,
    "blue-darker": #183889,
    "blue-lighter": #4083ae,
    "blue-lightest": #338fff,
    "red-darkest": shade(map.get($secondary-colors, "red"), 20%),
    "red-darker": tone(map.get($secondary-colors, "red"), 20%),
    "red-lighter": tint(map.get($secondary-colors, "red"), 20%),
    "red-lightest": tint(map.get($secondary-colors, "red"), 38%),
    "green-darkest": shade(map.get($secondary-colors, "green"), 20%),
    "green-darker": tone(map.get($secondary-colors, "green"), 20%),
    "green-lighter": tint(map.get($secondary-colors, "green"), 20%),
    "green-lightest": tint(map.get($secondary-colors, "green"), 38%),
    "orange-darkest": shade(map.get($secondary-colors, "orange"), 20%),
    "orange-darker": tone(map.get($secondary-colors, "orange"), 20%),
    "orange-lighter": tint(map.get($secondary-colors, "orange"), 20%),
    "orange-lightest": tint(map.get($secondary-colors, "orange"), 38%),
    "yellow-darkest": shade(map.get($secondary-colors, "yellow"), 20%),
    "yellow-darker": tone(map.get($secondary-colors, "yellow"), 20%),
    "yellow-lighter": tint(map.get($secondary-colors, "yellow"), 20%),
    "yellow-lightest": tint(map.get($secondary-colors, "yellow"), 38%),
);
