//
//  Variables for cards
//
$card-normal-width: 320px; // Width for normal cards.
$card-section-media-height: 200px; // Height for cards' media sections.
$card-fore-color: $fore-color; // Text color for the cards.
$card-back-color: #fafafa; // Background color for the cards.
$card-border-color: #ddd; // Border color for the cards.
