//
//  Variables for colors
//
$red: rgba(219, 40, 40, 1);
$orange: rgba(242, 113, 28, 1);
$olive: rgba(181, 204, 24, 1);
$teal: rgba(0, 181, 173, 1);
$purple: rgba(163, 51, 200, 1);
$black: rgba(27, 28, 29, 1);
$yellow: rgba(254, 199, 62, 1);
$green: rgba(89, 188, 171, 1);
$blue: rgba(13, 73, 82, 1);
$violet: rgba(127, 84, 135, 1);
$pink: rgba(233, 50, 93, 1);
$brown: rgba(197, 178, 134, 1);
$grey: rgba(105, 106, 108, 1);
// Light Colors
$lightRed: lighten($red, 15%);
$lightOrange: lighten($orange, 15%);
$lightYellow: lighten($yellow, 15%);
$lightOlive: lighten($olive, 15%);
$lightGreen: lighten($green, 15%);
$lightTeal: lighten($teal, 15%);
$lightBlue: lighten($blue, 15%);
$lightViolet: lighten($violet, 15%);
$lightPurple: lighten($purple, 15%);
$lightPink: lighten($pink, 15%);
$lightBrown: lighten($brown, 15%);
$lightGrey: lighten($grey, 15%);
$lightBlack: lighten($black, 15%);
// New variables
$footerBackColor: rgba(38, 38, 38, 1);
$footerForeColor: whitesmoke; // rgba(153, 153, 153, 1);
$footerTitleColor: whitesmoke; // rgba(204, 204, 204, 1);
$buttonForeColor: whitesmoke; // rgba(204, 204, 204, 1);
