//
//  Variables for contextual background elements, toasts and tooltips
//
$mark-back-color: #0277bd;                      // Background color for <mark>
$mark-fore-color: #fafafa;                      // Text color for <mark>
$toast-back-color: #424242;                     // Background color for toast component
$toast-fore-color: #fafafa;                     // Text color for toast component
$tooltip-back-color: $fore-color;               // Background color for tooltip component
$tooltip-fore-color: #fafafa;                   // Text color for tooltip component
$modal-overlay-color: rgba(0,0,0,0.45);         // Overlay color for modal dialog component
$modal-close-color: #444;                       // Text color for the close button of the modal dialog component
$modal-close-hover-back-color: #f0f0f0;         // Background color for the close button of the modal dialog component (on hover/focus)
$collapse-label-back-color: #e8e8e8;            // Background color for labels in the collapse component
$collapse-label-fore-color: #212121;            // Text color for labels in the collapse component
$collapse-label-hover-back-color: #f0f0f0;      // Background color for labels in the collapse component (hover)
$collapse-selected-label-back-color: #e5e9f0;   // Background color for selected labels in the collapse component
$collapse-border-color: #e5e9f0;                // Border color for collapse component
$collapse-selected-label-border-color: #0277bd; // Border color for collapse component's selected labels
$collapse-content-back-color: #fafafa;          // Background color for collapse component's content panes