//
// New variables for fonts
//
$pageFont: '\"Athiti\", Arial, sans-serif';
$headingFont: '\"Raleway\", Arial, sans-serif';
$cursiveFont: '\"Caveat\", cursive';
$cursiveFontSize: 1.25rem; // Default for figcaption: 0.875rem; Default for blockquote: 0.8125rem;