//
//  Variables fonts
//  Author: Olivier Jullien (https://github.com/ojullien)
//  Maintainers: Olivier Jullien
//  La boîte à bouillons version: v1.0.0
//
// New variables
$pageFont: '\"Athiti\", Arial, sans-serif';
$headingFont: '\"Raleway\", Arial, sans-serif';
$cursiveFont: '\"Caveat\", cursive';
$cursiveFontSize: 1.25rem; // Default for figcaption: 0.875rem; Default for blockquote: 0.8125rem;