//
//  Variables for forms and inputs
//
$input-group-mobile-breakpoint: $mobile-breakpoint - 1px; // Breakpoint for fluid input group mobile view.
$form-fore-color: $fore-color;         // Text color for forms.
$input-fore-color: $fore-color;        // Text color for input elements.
$button-back-color: $green;            // Background color for buttons.
$button-hover-back-color: $lightGreen; // Background color for buttons (hover).
$button-fore-color: $buttonForeColor;  // Text color for buttons.