//
//  Variables for grid elements
//
$mobile-breakpoint: 914px; // Breakpoint between small and medium screens (px)
$large-screen-breakpoint: 1280px; // Breakpoint between medium and large screens (px)
$grid-column-count: 12; // Number of columns in the grid (integer value only).
$grid-medium-breakpoint: $mobile-breakpoint; // Medium screen breakpoint for grid.
$grid-large-breakpoint: $large-screen-breakpoint; // Large screen breakpoint for grid.
