//
//  Variables for navigational elements
//
$header-back-color: $green; // Background color for the header element.
$header-hover-back-color: $lightGreen; // Background color for the header element (hover).
$header-fore-color: #f5f5f5; // Text color for the header element.
$header-border-color: #e5e9f0; // Border color for the header element.
$nav-back-color: #f8f8f8; // Background color for the nav element.
$nav-hover-back-color: #f0f0f0; // Background color for the nav element (hover).
$nav-fore-color: $fore-color; // Text color for the nav element.
$nav-border-color: #ddd; // Border color for the nav element.
$nav-link-color: $green; // Color for link in the nav element.
$footer-fore-color: $footerForeColor; // Text color for the footer element.
$footer-back-color: $footerBackColor; // Background color for footer nav element.
$footer-border-color: #ddd; // Border color for the footer element.
$footer-link-color: $green; // Color for link in the footer element.
$drawer-back-color: #f8f8f8; // Background color for the drawer component.
$drawer-border-color: #ddd; // Border color for the drawer component.
$drawer-hover-back-color: #f0f0f0; // Background color for the drawer component's close (hover). #f0f0f0;
$drawer-close-color: #444; // Color of the close element for the drawer component.
$drawer-mobile-breakpoint: $mobile-breakpoint; // Mobile breakpoint for the drawer component.
