//
//  Variables for progress elements and spinners
//

$progress-back-color: #ddd;      // Background color of <progress>.
$progress-fore-color: #555;      // Foreground color of <progress>.
$spinner-donut-back-color: #ddd; // Background color for spinner donuts
$spinner-donut-fore-color: #555; // Foreground color for spinner donuts