//
//  Variables for tabs
//  Author: Angelos Chalaris (chalarangelo@gmail.com)
//  Maintainers: Angelos Chalaris
//  mini.css version: v2.3.7
//
//  Variables for tabs
$tab-container-name: 'tabs'; // Class name for the tabs' container
$tab-container-box-shadow: none; // Box shadow for the tabs' container
$tab-label-back-color: #e6e6e6; // Background color for tabs' labels
$tab-label-fore-color: $fore-color; // Text color for tabs' labels
$tab-label-selected-back-color: #eeeeee; // Background color for open tab's label
$tab-label-selected-fore-color: $fore-color; // Text color for open tab's label
$tab-label-hover-opacity: 0.8; // Opacity of the tab's label on hover
$tab-label-padding: 0.75rem; // Padding for tabs' labels
$tab-label-height: 1.5rem; // Height for tabs' labels
$tab-border-style: $_1px solid #bdbdbd;// Border style for tabs
$tab-border-radius: 0; // Border radius for tabs
$tab-selected-border-color: #0277bd; // Selected tab's bottom border color
$tab-panel-back-color: #fafafa; // Background color for tabs' panels
$tab-panel-fore-color: $fore-color; // Text color for tabs' panels
$tab-panel-padding: 0.5rem; // Padding for tabs' panels
$tab-panel-height: 400px; // Height for tabs' panels
$tab-stacked-breakpoint: 767px; // Breakpoint for tabs layout (stacked/horizontal)
$tab-stacked-name: 'stacked'; // Class name for stacked tabs