//
//  Variables for responsive tables
//
$table-mobile-breakpoint: $mobile-breakpoint; // Breakpoint for <table> mobile view.
$table-border-color: #aaa; // Border color for <table> elements.
$table-border-separator-color: #666; // Border color for the border between <thead> and <tbody>.
$table-th-back-color: #e6e6e6; // Background color for <th> elements.
$table-th-fore-color: $fore-color; // Text color for <th> elements.
$table-td-back-color: #f8f8f8; // Background color for <td> elements.
$table-td-fore-color: $fore-color; // Text color for <td> elements.
$table-td-alt-back-color: #eee; // Alternative background color for <td> elements in striped tables.
$table-td-hover-back-color: #90caf9; // Hover background color for <td> elements in hoverable tables.
