@use 'sass:map';
$map1: (
    "key1": 1,
    "key2": 2,
    "key3": 3,
) !default;

@function get($key) {
    $color: null;
    @if map.has-key($map1, $key) {
        $color: map.get($map1, $key);
    }

    @if $color == null {
        @warn #{'Map1."' + $key + '" not found!'};
    }
    @return $color;
}
