// Loads shared variables
// using @forward to make its mixins, functions, and variables available to the main stylesheet flavor.
//@forward 'variables' as ev-*;
@use '../common/variables' as v;

// Loads all modules
@use 'collapse' with (
    $border-radius: v.$universal-border-radius,
    $margin: v.$universal-margin,
    $padding: v.$universal-padding,
    $box-shadow: v.$universal-box-shadow
    );
@use 'toast' with (
    $border-radius: v.$universal-border-radius,
    $margin: v.$universal-margin,
    $padding: v.$universal-padding,
    $box-shadow: v.$universal-box-shadow
    );
@use 'tooltip' with (
    $border-radius: v.$universal-border-radius,
    $margin: v.$universal-margin,
    $padding: v.$universal-padding,
    $box-shadow: v.$universal-box-shadow
    );
@use 'modal' with (
        $border-radius: v.$universal-border-radius,
        $padding: v.$universal-padding
        );
@use 'grid' with (
        $padding: v.$universal-padding,
        $medium-breakpoint: v.$mobile-breakpoint
    );
@use 'card' with (
        $border-radius: v.$universal-border-radius,
        $margin: v.$universal-margin,
        $padding: v.$universal-padding,
        $box-shadow: v.$universal-box-shadow
    );
