//
// Toasts
// Display native-looking notifications on mobile devices.
//
@use 'sass:map';
@use '../default/stdlib';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model
$_box-spacing: (
    "padding": 0.5rem,
    "margin": 0.5rem
) !default;

// Borders
$_borders: (
    "radius": 0.125rem,
    "shadow": none
) !default;

$_primary-colors: (
    "back": #121212,
    "fore": #f8f8f8
) !default;

// Private variables

$_class-name: (
    "main": "toast"
);

/* Toast styling */

.#{map.get($_class-name, "main")} {
    position: fixed;
    bottom: calc(#{map.get($_box-spacing, "margin")} * 3);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1111;
    color: var(--back-color, map.get($_primary-colors, "fore")); // Invert
    background: var(--fore-color, map.get($_primary-colors, "back")); // Invert
    border-radius: calc(#{map.get($_borders, "radius")} * 16);
    padding: map.get($_box-spacing, "padding") calc(#{map.get($_box-spacing, "padding")} * 3);

    @include stdlib.box-shadow(map.get($_borders, "shadow"));
}
