/*
  Browsers resets and base typography.
*/

$border-color: #aaa !default; // Border color
$main-padding: 0.5rem !default; // Universal padding for the most elements
$code-font-family: "Menlo, Consolas, monospace" !default; // Font stack for code elements

/* Core module CSS variable definitions */

// Correct display for Edge & Firefox.
details {
    display: block;
}

// Correct display in all browsers.
summary {
    display: list-item;
}

// Abbreviations
