/* Inline text semantic styling */
sup, sub, small {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: var(--smaller, 0.75em);
}

s, dfn,
del,
em,
i,
ins,
span,
u, data, b,
strong, abbr[title], a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}

sup, sub {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

a {
  font-family: inherit;
  text-decoration: none;
}
a:link {
  color: var(--link-color, #0277bd);
}
a:visited {
  color: var(--visited-link-color, #004c8c);
}
a:not(.button):hover, a:not(.button):focus {
  box-shadow: 0 2px;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 700;
}

data:hover:after {
  content: " (ID " attr(value) ")";
  font-size: 0.7em;
}

s:before, s:after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
s:before {
  content: " [start of stricken text] ";
}
s:after {
  content: " [end of stricken text] ";
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
