/*
  Sectioning root using top-level elements
*/
@use '../stdlib';

// Public variables. May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

$font-sans: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif" !default; // Font stack for all elements
//$font-mono: "Menlo, Consolas, monospace" !default; // Font stack for code elements
//$font-heading: #{$font-sans}; // Font stack for heading elements
//$font-quote: #{$font-sans}; // Font stack for quote elements
$root-font-size: 16px !default; // Root font sizing for all elements (`px` only)
$font-size: 1rem !default; // Font sizing for all elements
$line-height: 1.5 !default; // Line height for most elements
$fore-color: #111 !default; // Text & foreground color
$back-color: #f8f8f8 !default; // Background color

// Private variables

$__1px: stdlib.rempx($root-font-size) * 1rem !default; // [Private Calculated] Calculated rem value of `1px`

// Elements

html {
    scroll-behavior: smooth;
    font-size: $root-font-size;
    // Prevent adjustments of font size after orientation changes in mobile.
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    color: $fore-color;
    background: $back-color;
    font-family: $font-sans;
    line-height: $line-height;
    font-size: $font-size;
    padding: 0; // New
    overflow-x: hidden; // New
    min-width: 320px; // New
}
