//
// The HTML <blockquote> Element (or HTML Block Quotation Element) indicates that the enclosed text is an extended
// quotation. Usually, this is rendered visually by indentation (see Notes for how to change it).
// A URL for the source of the quotation may be given using the cite attribute, while a text representation of
// the source can be given using the <cite> element.
//
@use 'sass:map';
@use '../../common/stdlib';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Font stacks
$_font-stacks: (
    //  Font stack 'for <q> <figcaption> <blockquote>
        "caption":
        (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif)
) !default;

// Main colors. WCAG Grading AAA.
$_colors: (
    // Text & foreground color
        "fore": #151515,
    // Background color
        "back": #f8f8f8,
    // <blockquote> sidebar and quotation color
        "sidebar": #f57c00,
    // Border color for the <blockquote> element.
        "border": #ddd
) !default;

// Basic box model
$_box-model: (
    // Padding: creates extra space within an element.
        "padding": 0.5rem,
    // Margins: create extra space around an element.
        "margin": 0.5rem
) !default;

// Borders
$_borders: (
    // radius: rounds the corners of an element's outer border edge.
        "radius": 0.125rem,
    // shadow: adds shadow effects around an element's frame.
        "shadow": none
) !default;

// Font sizes
$_font-sizes: (
    // Font size for the [cite] of <blockquote>
        "cite": 1em,
    // Font size for the quotation of <blockquote>
        "quotation": 3rem
) !default;

/* Blockquote styling */

%normalize {
    font-family: map.get($_font-stacks, "caption");
    font-style: italic;

    background: var(--caption-back-color, #{map.get($_colors, "back")}); // Allows live color tunning
    color: var(--caption-fore-color, #{map.get($_colors, "fore")}); // Allows live color tunning
}

blockquote {
    display: block;
    position: relative;

    margin: map.get($_box-model, "margin");
    padding: calc(3 * #{map.get($_box-model, "padding")});

    border: var(--px) solid map.get($_colors, "border");
    border-left: calc(6 * var(--px)) solid var(--caption-sidebar-color, map.get($_colors, "sidebar"));
    border-radius: 0 map.get($_borders, "radius") map.get($_borders, "radius") 0;

    @extend %normalize;
    font-size: 1em;

    @include stdlib.box-shadow(map.get($_borders, "shadow"));

    &:before {
        position: absolute;
        top: calc(0rem - #{map.get($_box-model, "padding")});
        left: 0;
        font-family: sans-serif;
        font-size: map.get($_font-sizes, "quotation");
        font-weight: 700;
        content: "\201c";
        color: var(--caption-sidebar-color, map.get($_colors, "sidebar"));
    }

    &[cite]:after {
        font-style: normal;
        font-size: map.get($_font-sizes, "cite");
        font-weight: 700;
        content: "\a—  "attr(cite);
        white-space: pre;
    }
}

// Fix for elements inside headings not displaying properly.
q {
    @extend %normalize;
    font-size: map.get($_font-sizes, "cite");
}

cite {
    @extend %normalize;
    font-size: map.get($_font-sizes, "cite");
}
