//
// The HTML <blockquote> Element (or HTML Block Quotation Element) indicates that the enclosed text is an extended
// quotation. Usually, this is rendered visually by indentation (see Notes for how to change it).
// A URL for the source of the quotation may be given using the cite attribute, while a text representation of
// the source can be given using the <cite> element.
//
@use 'sass:map';
@use '../../common/stdlib';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Font stacks
$font-stacks: (
    //  Font stack 'for <q> <figcaption> <blockquote>
        "caption":
        (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif)
) !default;

// Main colors. WCAG Grading AAA.
$colors: (
    // Text & foreground color
        "fore": #151515,
    // Background color
        "back": #f8f8f8,
    // <blockquote> sidebar and quotation color
        "sidebar": #f57c00,
    // Border color for the <blockquote> element.
        "border": #ddd
) !default;

// Basic box model
$box-model: (
    // Padding: creates extra space within an element.
        "padding": 0.5rem,
    // Margins: create extra space around an element.
        "margin": 0.5rem
) !default;

// Borders
$borders: (
    // radius: rounds the corners of an element's outer border edge.
        "radius": 0.125rem,
    // shadow: adds shadow effects around an element's frame.
        "shadow": none
) !default;

// Font sizes
$font-sizes: (
    // Font size for the [cite] of <blockquote>
        "cite": 1em,
    // Font size for the quotation of <blockquote>
        "quotation": 3rem
) !default;

$cite-size: 0.75em !default; // Font size for the [cite] of <blockquote>

/* Blockquote styling */

blockquote {
    // Doesn't have a back color by default, can be added manually.
    display: block;
    position: relative;
    font-style: italic;
    color: $fore-color;
    margin: $margin;
    padding: calc(3 * #{$padding});
    border: var(--px) solid $border-color;
    border-left: calc(6 * var(--px)) solid $sidebar-color;
    border-radius: 0 $border-radius $border-radius 0;

    @include stdlib.box-shadow($box-shadow);

    &:before {
        position: absolute;
        top: calc(0rem - #{$padding});
        left: 0;
        font-family: sans-serif;
        font-size: $quotation-size;
        font-weight: 700;
        content: "\201c";
        color: $sidebar-color;
    }

    &[cite]:after {
        font-style: normal;
        font-size: $cite-size;
        font-weight: 700;
        content: "\a—  "attr(cite);
        white-space: pre;
    }
}

// Fix for elements inside headings not displaying properly.
q {
    font-size: 1em;
}
