//
// HTML lists allow web developers to group a set of related items in lists.
//
@use 'sass:map';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model
$_box-model: (
    // Padding: creates extra space within an element.
        "padding": 0.5rem,
    // Margins: create extra space around an element.
        "margin": 0.5rem
) !default;

/* List styling */

ol,
ul {
    padding: 0;
    border: 0;
    margin: map.get($_box-model, "margin") 0 map.get($_box-model, "margin");
    padding-left: calc(2 * #{map.get($_box-model, "margin")});

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

li,
dt,
dd {
    margin: 0;
    padding: 0;
    border: 0;
}

dl {
    border: 0;
    margin: map.get($_box-model, "margin") 0 map.get($_box-model, "margin");
    padding: 0;
    padding-left: calc(2 * #{map.get($_box-model, "margin")});
}

dd {
    padding-left: calc(2 * #{map.get($_box-model, "margin")});
}

dt::after {
    content: ": ";
}
