//
// Use HTML text content elements to organize blocks or sections of content placed between the opening <body>
// and closing </body> tags. Important for accessibility and SEO, these elements identify the purpose or
// structure of that content.
//
@use 'sass:map';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model
// Accessibility:
//   - An inactive space should be provided around actionable elements
//   - Add borders or margins around touch targets to add at least 1px of inactive space.
$_box-spacing: (
    // Margins: create extra space around an element.
        "margin": 0.5rem,
        "margin-alt": 1.5em 0.5rem,
) !default;

$_hr-color: #aaa !default; // Border color

$_hr-line-height: 1.25em; // <hr> line height

$_paragraph_width: 70ch;

/* paragraph-level elements styling */

hr {
    // Fixes and defaults for styling
    box-sizing: content-box;
    border: 0;
    padding: 0;
    // Actual styling using variables
    line-height: $_hr-line-height;
    margin: map.get($_box-model, "margin-alt");
    height: var(--px);
    background: linear-gradient(to right, transparent, $_hr-color 20%, $_hr-color 80%, transparent);
}

p {
    padding: 0;
    margin: map.get($_box-spacing, "margin-alt");
    max-width: $_paragraph_width;
    text-rendering: optimizeLegibility;
}
