//
// Use HTML text content elements to organize blocks or sections of content placed between the opening <body>
// and closing </body> tags. Important for accessibility and SEO, these elements identify the purpose or
// structure of that content.
//
@use 'sass:map';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model
// Accessibility:
//   - An inactive space should be provided around actionable elements
//   - Add borders or margins around touch targets to add at least 1px of inactive space.
$_box-spacing: (
    // Margins: create extra space around an element.
        "margin": 0.5rem,
        "margin-center": 0.5rem auto
) !default;

$_line-spacing: (
    // Line height for main paragraph content
        "p": calc(1ex / 0.29),
    // Line height for thematic break
        "hr": 1.25
) !default;

$_hyphenation: (
    "text-align": justify,
    "hyphens": auto
) !default; 
$_hr-color: #909090 !default; // Border color. See $primary-palette.border-lightest in default/color.scss
$_paragraph_width: 70ch;

/* paragraph-level elements styling */

hr {
    // Fixes and defaults for styling
    box-sizing: content-box;
    border: 0;
    padding: 0;
    // Actual styling using variables
    line-height: map.get($_line-spacing, "hr");
    margin: map.get($_box-spacing, "margin");
    height: 1px;
    background: linear-gradient(to right, transparent, $_hr-color 20%, $_hr-color 80%, transparent);
}

p {
    max-width: $_paragraph_width;
    line-height: map.get($_line-spacing, "p");
    text-align: map.get($_hyphenation, "text-align");

    -ms-hyphens: map.get($_hyphenation, "hyphens");
    -webkit-hyphens: map.get($_hyphenation, "hyphens");
    -moz-hyphens: map.get($_hyphenation, "hyphens");
    hyphens: map.get($_hyphenation, "hyphens");

    padding: 0;
    margin: 0 map.get($_box-spacing, "margin") map.get($_line-spacing, "p");

    @supports (text-rendering: optimizeLegibility) {
        text-rendering: optimizeLegibility;
    }
}
