//
// Use HTML text content elements to organize blocks or sections of content placed between the opening <body>
// and closing </body> tags. Important for accessibility and SEO, these elements identify the purpose or
// structure of that content.
//
@use 'sass:map';

// Variables.
//
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

// Basic box model
$_box-model: (
    // Padding: creates extra space within an element.
        "padding": 0.5rem,
    // Margins: create extra space around an element.
        "margin": 0.5rem
) !default;

$_hr-color: #aaa !default; // Border color
$_hr-line-height: 1.25em; // <hr> line height
$_

/* paragraph-level elements styling */

hr {
    // Fixes and defaults for styling
    box-sizing: content-box;
    border: 0;
    padding: 0;
    // Actual styling using variables
    line-height: $_hr-line-height;
    margin: map.get($_box-model, "margin");
    height: var(--px);
    background: linear-gradient(to right, transparent, $_hr-color 20%, $_hr-color 80%, transparent);
}

p {
    padding: 0;
    margin: map.get($_box-model, "margin");
    text-rendering: optimizeLegibility;
}
