//
// Default properties' values for most elements.
//
// Note: all oseille/element and oseille/module libraries have those default values for variables.
// Note: The default oseille flavor (flavor/oseille.scss) does not use this file.
//       It uses the variables’ default values of each modules.
//

// Basic box model.
//
// Accessibility:
//   - An inactive space should be provided around actionable elements
//   - Add borders or margins around touch targets to add at least 1px of inactive space.
//
// Keys:
//   - padding: creates extra space within an element.
//   - margin: create extra space around an element. We reduce the default web browsers margin.
//   - margin-center: center the element.
$box-spacing: (
    "padding": 0.5rem,
    "margin": 0.5rem,
    "margin-center": 0.5rem auto,
);

// Borders.
//
// Keys:
//   - radius: rounds the corners of an element's outer border edge.
//   - shadow: shadow effects around an element's frame.
//   - shadow-alt: alternative shadow value for more accessibility.
//   - width: thickness of the border.
//   - width-alt: alternative thickness for more accessibility.
$borders: (
    "radius": 0.125rem,
    "shadow": none,
    "shadow-alt": 0 2px,
    "width": 1px,
    "width-alt": 2px,
);

// Breakpoints
//
// Keys:
//   - medium: medium/mobile screen breakpoint for grid
//   - large: large screen breakpoint for grid
$breakpoints: (
    "medium": 768px,
    "large": 1280px,
);
