//
// Default font stacks.
//
// Note: all oseille/element and oseille/module libraries have those default values for variables.
// Note: The default oseille flavor (flavor/oseille.scss) does not use this file.
//       It uses the variables’ default values of each modules.
//

// Font stacks
$font-stacks: (
    // Font stack for all elements
        "base": 
        ( -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif),
    // Code font stack
        "code": (Menlo, Consolas, monospace),
    //  Font stack 'for <q> <figcaption> <blockquote>
        "caption":
        (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif),
    // Heading font stack
        "heading":
        (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif)
);

// Font sizes
$font-sizes: (
    // Accessible root font size for all elements
        "accessible": 100%,
    // Not accessible root font size for all elements (`px` only)
        "not-accessible": 16px,
    // Relative font-sizing everywhere else on the page,
        "body": medium,
    // Font size for text in footer element.
        "footer": 0.875rem,
    // Font size for small element ( <small>, <sub>, <sup>)
        "small": 0.75em,
    // Font size for monospace element like <code>, <kbd>, ...
        "code": 0.85em
);

$line-spacing: (
    // Line height for larger font sizes.
    "heading": 1.2,
    // Line height for most elements.
    "main": 1.5,
    // Line height for thematic break
    "hr": 1.25,
    // Line height for smaller text sizes
    "small": 1.5625
); 
