//
// Default font stacks.
//
// Note: all oseille/element and oseille/module libraries have those default values for variables.
// Note: The default oseille flavor (flavor/oseille.scss) does not use this file.
//       It uses the variables’ default values of each modules.
//

// Font stacks
$font-stacks: (
    // Font stack for all elements
        "base": 
        ( -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif),
    // Code font stack
        "code": (Menlo, Consolas, monospace),
    //  Font stack 'for <q> <figcaption> <blockquote>
        "caption":
        (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif),
    // Heading font stack
        "heading":
        (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif)
);

// Font sizes
$font-sizes: (
    // Accessible root font size for all elements
        "accessible": 100%,
    // Root font sizing for all elements (`px` only)
        "root": 16px,
    // Font sizing for all elements
        "body": 1rem,
    // Font size for small element ( <small>, <sub>, <sup>)
        "small": 0.75em,
    // Font size for monospace element like <code>, <kbd>, ...
        "code": 0.85em
);

$line-spacing: (
    // Line height for heading.
    "heading": 1.2,
    // Line height for most elements. Use a minimum value of 1.5 for line-height for main paragraph content.
    "main": 1.5,
    // Line height for thematic break
    "hr": 1.25
); 
