//
// The HTML <header> element represents introductory content, typically a group of introductory or navigational
// aids. It may contain some heading elements but also a logo, a search form, an author name, and other elements.
// If it is a child of <body> it defines the global header of a webpage, but if it's a child of an <article> or
// <section> it defines a specific header for that section (try not to confuse this with titles and headings).
//
// You may override the default values of the settings' variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use 'sass:map';
@use '../../2-settings/colors' as colors;
@use '../../2-settings/fonts' as fonts;
@use '../../2-settings/borders' as borders;
@use '../../2-settings/box-model' as boxmodel;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_height: 3.1875rem !default; // Height of the header element.
$_logo-font-size: 1.75em !default; // Font size for the header logo element.
$_only-bottom-border: true !default; // Apply styling only to the bottom border of header? (boolean)
$_links-uppercase: true !default; // Should header links and buttons be uppercase? (boolean)

// Classnames
//
// Keys:
//   - header: header class
//   - logo: header logo element
//   - button: elements styled as buttons
//   - sticky: sticky header classe
//   - row: grid system
$_classnames: (
    'header': 'page-header',
    'logo': 'logo',
    'button': 'button',
    'sticky': 'sticky',
    'row': 'row',
) !default;

/* Header styling */

header {
    margin: 0;
    padding: 0;
    border: 0;
}

// No box-shadow as it causes lots of weird bugs in Chrome. No margin as it shouldn't have any.
.#{map.get($_classnames, 'header')} {
    // Always apply background color to avoid shine through
    background: var(--header-back-color, colors.get('back'));
    color: var(--header-fore-color, colors.get('fore'));

    @if $_only-bottom-border {
        border-bottom: borders.get('width') solid var(--header-border-color, colors.get('border-lightest'));
    } @else {
        border: borders.get('width') solid var(--header-border-color, colors.get('border-lightest'));
    }

    padding: calc(#{boxmodel.get('padding')} / 4) 0;
    //height: $_height;

    // Responsiveness for smaller displays, scrolls horizontally.
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    // Fix for responsive header, using the grid system's row and column alignment.
    &.#{map.get($_classnames, 'row')} {
        box-sizing: content-box;
        & .#{map.get($_classnames, 'logo')} {
            line-height: 1;
        }
    }

    // Header logo styling.
    .#{map.get($_classnames, 'logo')} {
        color: var(--header-fore-color, colors.get('fore'));
        font-size: $_logo-font-size;
        padding: boxmodel.get('padding') calc(2 * #{boxmodel.get('padding')});
        text-decoration: none;
        // Remove also our alternate style
        box-shadow: none;
    }

    // Link styling.
    button,
    [type='button'],
    .#{map.get($_classnames, 'button')},
    [role='button'] {
        box-sizing: border-box;
        position: relative;

        // Use universal-padding to offset the padding of the header.
        top: calc(0rem - #{boxmodel.get('padding')} / 4);

        height: calc(#{$_height} + #{boxmodel.get('padding')} / 2); // Fill header.

        line-height: calc(#{$_height} - #{boxmodel.get('padding')} * #{fonts.get-line-spacing('main')});

        text-align: center;

        // Apply color regardless to override styling from other things.
        background: var(--header-back-color, inherit);
        color: var(--header-fore-color, inherit);

        border: 0;
        border-radius: 0;
        margin: 0;

        @if $_links-uppercase {
            text-transform: uppercase;
        }
    }

    // Span styling.
    span {
        box-sizing: border-box;
        position: relative;

        // Use universal-padding to offset the padding of the header.
        top: calc(0rem - #{boxmodel.get('padding')} / 4);

        height: calc(#{$_height} + #{boxmodel.get('padding')} / 2); // Fill header.

        line-height: calc(#{$_height} - #{boxmodel.get('padding')} * #{fonts.get-line-spacing('main')});

        text-align: center;

        @if $_links-uppercase {
            text-transform: uppercase;
        }
    }

    // Hover and focus
    button,
    [type='button'],
    .#{map.get($_classnames, 'button')},
    [role='button'] {
        &:hover,
        &:focus {
            background: var(--header-back-hover-color, colors.get('back-hover'));
            color: var(--header-fore-hover-color, colors.get('fore-hover'));
            transform: scale(1.05); // Accessibility
        }
    }

    &.#{map.get($_classnames, 'sticky')} {
        @supports ((position: sticky) or (position: -webkit-sticky)) {
            position: -webkit-sticky; // One of the rare instances where prefixes are necessary.
            position: sticky;
            z-index: 1101; // Deals with certain problems when combined with cards and tables.
            top: 0;
        }
    }
}
