//
// The HTML <nav> element represents a section of a page whose purpose is to provide navigation links, either within
// the current document or to other documents. Common examples of navigation sections are menus, tables of contents,
// and indexes.
//
// You may override the values of the colors, borders and fonts variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use '../../1-tools/box-shadow' as boxshadow;
@use '../../2-settings/colors' as colors;
@use '../../2-settings/fonts' as fonts;
@use '../../2-settings/borders' as borders;
@use '../../2-settings/box-model' as boxmodel;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_sublink-depth: 2 !default; // Amount of subcategory classes to add.
$_sublink-prefix: 'sublink' !default; // Prefix for the subcategory tabs in nav.

/* Navigation styling. */

nav {
    background: var(--back-color, colors.get('back'));
    color: var(--fore-color, colors.get('fore'));

    border: borders.get('width') solid var(--border-color, colors.get('border'));
    border-radius: borders.get('radius');

    margin: boxmodel.get('margin');
    padding: 0;

    @include boxshadow.box-shadow(borders.get('shadow'));

    * {
        padding: boxmodel.get('padding') calc(#{fonts.get-line-spacing('main')} * #{boxmodel.get('padding')});
    }

    a,
    a:visited {
        display: block;
        border-radius: borders.get('radius');
        transition: background 0.3s;
        text-decoration: none; // We remove it but we provide alternative styling.
        color: var(--link-color, colors.get('link')); // Apply regardless to de-stylize visited links.

        &:hover,
        &:focus {
            background: var(--back-hover-color, colors.get('back-hover'));
            font-weight: bolder;
            @include boxshadow.box-shadow(none !important);
        }
    }

    // Subcategories in navigation.
    @for $i from 1 through $_sublink-depth {
        .#{$_sublink-prefix}-#{$i} {
            position: relative;
            margin-left: calc(#{$i * 2} * #{boxmodel.get('padding')});
            &:before {
                position: absolute;
                left: calc(#{boxmodel.get('padding')} - #{1 + ($i - 1) * 2} * #{boxmodel.get('padding')});
                top: calc(0 - 1px);
                content: '';
                //height: 100%;
                border: borders.get('width') solid var(--border-color, colors.get('border'));
                border-left: 0;
            }
        }
    }
}
