//
// The HTML <nav> element represents a section of a page whose purpose is to provide navigation links, either within
// the current document or to other documents. Common examples of navigation sections are menus, tables of contents,
// and indexes.
//
// You may override the default values of the settings' variables, if needed, with the @use rule.
// See flavors/oseille.scss and the 2-settings*.scss files.
//
@use '../../2-settings/colors' as colors;
@use '../../2-settings/fonts' as fonts;
@use '../../2-settings/borders' as borders;
@use '../../2-settings/box-model' as boxmodel;

// Private variables.
//
// Variables defined with !default can be configured when loading this module with the @use rule.
// To load this module with configuration, use @use <url> with (<variable>: <value>, <variable>: <value>).
// The configured values will override the variables’ default values.
// @link: https://sass-lang.com/documentation/variables

$_sublink-depth: 2 !default; // Amount of subcategory classes to add.
$_sublink-prefix: 'sublink' !default; // Prefix for the subcategory tabs in nav.
$_border-classname: 'bordered' !default; // Add a border to the nav.

/* Navigation styling. */

nav {
    background-color: var(--nav-back-color, colors.get('back'));
    color: var(--nav-fore-color, colors.get('fore'));

    border: 0;
    margin: boxmodel.get('margin');
    padding: 0;

    &.#{$_border-classname} {
        border: borders.get('width') solid var(--nav-border-color, colors.get('border'));
        border-radius: borders.get('radius');
    }

    * {
        padding: boxmodel.get('padding') calc(#{fonts.get-line-spacing('main')} * #{boxmodel.get('padding')});
    }

    //    a:visited,
    a {
        display: block;
    }

    // Subcategories in navigation.
    @for $i from 1 through $_sublink-depth {
        .#{$_sublink-prefix}-#{$i} {
            position: relative;
            margin-left: calc(#{$i * 2} * #{boxmodel.get('padding')});
            &:before {
                position: absolute;
                left: calc(#{boxmodel.get('padding')} - #{1 + ($i - 1) * 2} * #{boxmodel.get('padding')});
                top: -1px;
                content: '';
                height: 100%;
                border: borders.get('width') solid var(--nav-border-color, colors.get('border'));
                border-left: 0;
            }
        }
    }
}

menu {
    border: 0;
    margin: 0;
    padding: 0;
}
