//
// Some usefull functions and mixins.
//
@use 'sass:map';
@use 'sass:color';

// @todo Add comment
@function rempx($size) {
    @return 1px / $size;
}

// @todo Add comment
@function buildFontSize($exponent, $ratio, $base: "1rem") {
    $sCalc: "";

    @if $exponent < 0 {
        $sCalc: " / #{$ratio}";
    } @else {
        @for $_ from 1 through $exponent {
            $sCalc: "#{$sCalc} * #{$ratio}";
        }
    }

    @return "calc(#{$base}#{$sCalc})";
}

// @todo Add comment
@mixin box-shadow($box-shadow: none) {
    @if $box-shadow != none {
        box-shadow: $box-shadow;
    }
}

// Dumping the content of a Sass map
@mixin dumpConfiguration($declarations) {
    @each $property, $value in $declarations {
        #{$property}: $value;
    }
}

// Mixes a color with white.
@function tint($color, $weight) {
    @return mix(#fff, $color, $weight);
}

// Mixes a color with black.
@function shade($color, $weight) {
    @return mix(#000, $color, $weight);
}

// Mixes a color with grey.
@function tone($color, $weight) {
    @return mix(#808080, $color, $weight);
}
