//
// Some usefull functions and mixins.
//

// @todo Add comment
@function rempx($size) {
    @return 1px / $size;
}

// @todo Add comment
@function buildFontSize($exponent, $ratio, $base: "1rem") {
    $sCalc: "";

    @if $exponent < 0 {
        $sCalc: " / #{$ratio}";
    } @else {
        @for $_ from 1 through $exponent {
            $sCalc: "#{$sCalc} * #{$ratio}";
        }
    }

    @return "calc(#{$base}#{$sCalc})";
}

// @todo Add comment
@mixin box-shadow($box-shadow: none) {
    @if $box-shadow != none {
        box-shadow: $box-shadow;
    }
}
