//
// Use the HTML inline text semantic to define the meaning, structure, or style of a word, line, or
// any arbitrary piece of text.
//

// Public variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

// Private variables

// Code styling

code, kbd, pre, samp {
    font-family: #{$code-font-family}; // Display fix should be applied manually!
    font-size: $code-font-size;
}

// Prevent elements from affecting the line height in all browsers.
code, kbd {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

code {
    // No border color by default and fore color is the default for text, can be altered manually.
    background: var(#{$secondary-back-color-var});
    border-radius: var(#{$universal-border-radius-var});
    // This could be a bit counterintuitive and burden the codebase a bit, look into it again?
    padding: calc(var(#{$universal-padding-var}) / 4) calc(var(#{$universal-padding-var}) / 2);
    @if $universal-box-shadow != none {
        box-shadow: var(#{$universal-box-shadow-var});
    }
}

kbd {
    // No border color by default, can be altered manually.
    background: var(#{$fore-color-var});
    color: var(#{$back-color-var});
    border-radius: var(#{$universal-border-radius-var});
    // This could be a bit counterintuitive and burden the codebase a bit, look into it again?
    padding: calc(var(#{$universal-padding-var}) / 4) calc(var(#{$universal-padding-var}) / 2);
    @if $universal-box-shadow != none {
        box-shadow: var(#{$universal-box-shadow-var});
    }
}

pre {
    // Fore color is the default, can be altered manually.
    overflow: auto; // Responsiveness
    background: var(#{$secondary-back-color-var});
    padding: calc(1.5 * var(#{$universal-padding-var}));
    margin: var(#{$universal-margin-var});
    border: $__1px solid var(#{$secondary-border-color-var});
    border-left: 4 * $__1px solid var(#{$pre-color-var});
    border-radius: 0 var(#{$universal-border-radius-var}) var(#{$universal-border-radius-var}) 0;
    @if $universal-box-shadow != none {
        box-shadow: var(#{$universal-box-shadow-var});
    }
}
