//
// Use the HTML inline text semantic to define the meaning, structure, or style of a word, line, or
// any arbitrary piece of text.
//

// Public variables.
// May be overrided using @use <url> with (<variable>: <value>, <variable>: <value>)

// Private variables

// Inline text semantic styling

b, strong {

    font-weight: $bold-font-weight;

    a, del, em, i, ins, q, span, u {
        font-size: 1em; // Fix for elements inside headings not displaying properly.
    }

  }

abbr[title] {
    border-bottom: none; // Remove bottom border in Firefox 39-.
    text-decoration: underline dotted; // Opinionated style-fix for all browsers.
}

// Prevent elements from affecting the line height in all browsers.
sup, sub {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  small, sup, sub {
    font-size: $small-element-font-size;
  }
  
  sup {
    top: $sup-top;
  }
  sub {
    bottom: $sub-bottom;
  }

  a {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    &:link{
      color: var(#{$a-link-color-var});
    }
    &:visited {
      color: var(#{$a-visited-color-var});
    }
    &:not(.button):hover, &:not(.button):focus {
        // La boite à bouillons
        //  1. Comment: text-decoration...
        //  2. Add: box-shadow...
        //  3. Add: :not(.button) property
      // text-decoration: underline;
      box-shadow: 0 2px;
    }
  }

  